<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>
    <script type="text/javascript">
        function populatecolor(selid) {
            var cols = ["INCONNU", "BEIGE", "BEIGE ET BLANC", "BLANC", "BLUE POINT", "CREME", "ECAILLE DE TORTUE", "GRIS", "GRIS CHARTREUX", "GRIS ET BLANC",
                "NOIR", "NOIR ET BLANC", "NOIR ET SMOKE", "NOIR PLASTRON BLANC", "ROUX", "ROUX ET BLANC", "SEAL POINT", "TABBY BLANC", "TABBY BRUN", "TABBY GRIS",
                "TIGRE", "TIGRE BEIGE", "TIGRE BRUN", "TIGRE CREME", "TIGRE GRIS", "TRICOLORE"];
            var sel, i, option;
            sel = document.getElementById(selid);

            for (i = 0; i < cols.length; ++i) {
                option = document.createElement('option');
                option.value = i;
                option.text = cols[i];
                sel.add(option);
            }
         }

        window.onload=function() {
            populatecolor("c_color");
            {% if cat.sex %} document.getElementById("c_sex").value = {{ cat.sex }}; {% endif %}
            {% if cat.color %} document.getElementById("c_color").value = {{ cat.color }}; {% endif %}
            {% if cat.longhair %} document.getElementById("c_hlen").value = {{ cat.color }}; {% endif %}

            var sel = document.getElementById("sel_FA");
            var i = 0;

            var faid = [  {% for fa in falist %} "{{fa.id}}", {% endfor %} ];
            var fas = [ {% for fa in falist %} "{{fa.FAname}}", {% endfor %} ];
            for (i = 0; i < fas.length; ++i) {
                option = document.createElement('option');
                option.value = faid[i];
                option.text = fas[i];
                sel.add(option);
            }
        }
    </script>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ user.FAid }} ({{ user.FAname }}) [
                {% if user.FAisFA %}
                    FA
                {% endif %}
                {% if user.FAisOV %}
                    SV
                {% endif %}
                {% if user.FAisADM %}
                    GR
                {% endif %} ]
           </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
        {% endif %}
        </ul>
    </div>
    </nav>


    <div class="container">

    <h2>
        {% if cat.registre %}
            {% if cat.name %}
                {{ cat.name }}
            {% else %}
                pas de nom
            {% endif %}
        {% else %}
            Nouveau chat
        {% endif %}
    </h2>

    <form action="cat" id="c_form" method="POST">
        <input type="hidden" name="catid" value="{{cat.id}}">
        {% if cat.registre %}
            Registre: <b>{{ cat.registre }}</b><br>
        {% else %}
            Registre: <input type="text" name="c_registre" placeholder="xxx-xx"><br>
        {% endif %}

        {% if cat.identif %}
            Identification: <input type="text" name="c_identif" value="{{ cat.identif }}"><br>
        {% else %}
            Identification: <input type="text" name="c_identif" placeholder="numero de puce"><br>
        {% endif %}

        {% if cat.name %}
            Nom: <input type="text" name="c_name" value="{{ cat.name }}"><br>
        {% else %}
            Nom: <input type="text" name="c_name" placeholder="Nom du chat"><br>
        {% endif %}
        Sexe: <select name="c_sex" id="c_sex">
            <option value="0">INCONNU</option>
            <option value="1">FEMELLE</option>
            <option value="2">MALE</option>
         </select><br>
       Couleur: <select name="c_color" id="c_color">
        </select><br>
        Poil: <select name="c_hlen">
            <option value="0">COURT</option>
            <option value="1">MI-LONG</option>
            <option value="2">LONG</option>
         </select><br>
        {% if cat.description %}
            Description: <textarea class="form-control" name="c_description">{{ cat.description }}</textarea>
        {% else %}
            Description: <textarea class="form-control" name="c_description" placeholder="Description et/ou signes particuliers"></textarea>
        {% endif %}

        {% if cat.registre %}
            <button type="submit" name="action" value="fa_return">Revenir a la liste</button>
            <button type="submit" name="action" value="fa_modcat">Mettre a jour les informations</button><br>
            <button type="submit" name="action" value="fa_givecat">Donner le chat a:</button><select id="sel_FA" name="FAid"></select>
        {% else %}
            Une fois les informations remplies:<br>
            <button type="submit" name="action" value="adm_addcathere">Rajouter le chat chez moi</button><br>
            <button type="submit" name="action" value="adm_addcatgiveFA">Donner le chat a:</button>
            <button type="submit" name="action" value="adm_addcatputFA">Placer le chat chez:</button><select id="sel_FA" name="FAid"></select>
        {% endif %}
    </form>

    </div><!-- /.container -->
</body>
</html>
