<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h2>Aide a l'utilisation</h2>
        {% if user.FAisFA %}
        <p>En tant que FA de l'association, vous pouvez:</p>
        <ul>
            <li>Visualiser la liste de chats sous votre responsabilité (vous pouvez toujours revenir à cette liste en cliquant sur votre nom en haut).  La liste indique:</li>
            <ul>
                <li>Le numéro de registre (cliquer pour accéder/modifier les informations)</li>
                <li>Le numéro de puce (ou tatouage)</li>
                <li>Le nom (cliquer pour faire apparaître/disparaître les commentaires)</li>
                <li>La description du chat: sexe, âge, couleur (les info manquantes sont en jaune)</li>
                <li>une indication des visites vétérinaires que le chat a eu (V=primo vaccination, 1=1er rappel, 2=2eme rappel, S=stérilisation/castration, P=identification,
                    T=test FIV/Felv, R=rappel annuel, X=soins)</li>
                <li>l'indication de si le chat est a l'adoption ou pas</li>
            </ul>
            <li>Modifier pratiquement toutes les informations relatives a vos chats, particulierement utile pour l'association
                est de rajouter le numero de puce lors de l'identification du chat.  Pour ce qui en est des commentaires et des descriptions,
                les commentaires sont internes a ERA et sont utilises pour indiquer des situations particulieres; comme certaines sont recurrentes, nous avons des habitudes
                qu'il serait utile de suivre:</li>
                <ul>
                    <li>pour un chat qui arrive deja sterilise, indiquer "Deja castre" ou "Deja sterilisee"</li>
                    <li>si le test FIV est positif, indiquer "FIV+", si le test est negatif, ne rien indiquer</li>
                    <li>si le test FeLV est positif, indiquer "Positif LEUCOSE", si le test est negatif, ne rien indiquer</li>
                    <li>si lors de l'adoption les adoptants ont deja un nouveau nom a lui donner, indiquer "Nouveau nom : LE NOM EN MAJUSCULES"</li>
                    <li>indiquer les problemes chroniques/malformations/ou necessites particulieres, exemples: "Diabetique", "Problemes renaux", "Ampute patte arriere gauche".
                        "Allergie: necessite croquettes speciales", etc.</li>
                </ul>
            <li>Rajouter des elements utiles pour passer les annonces d'adoption, considerez dans ce cas que le texte "Description" et la photo risquent d'etre diffusees
                publiquement.  Pensez donc a ne pas y mettre des informations personnelles</li>
            <li>Planifier ou indiquer les visites vétérinaires.  Cette fonctionnalité est accessible de la page du chat en question et permet d'indiquer une visite qui a eu lieu ou encore une visite
                que vous devez effectuer dans le futur.  Toute visite planifiée peut être transformée en effectuée simplement en changeant l'indication et en mettant à jour les informations.  Vous pouvez à tout moment effacer
                une visite planifiée en indiquant "ANNULLEE" et en mettant à jour.  Les visites effectuées sont enregistrées définitivement et ne peuvent pas être
                annulées, pensez donc à bien vérifier les informations avant de valider la mise à jour....<br>Les visites sont accompagnees de commentaires libres qui
                sont utiles pour detailler les soins ou les traitements.  Pour les visites planifiees, ils peuvent servir d'aire-memoire</li>
            <li>A tout moment vous pouvez accéder au calendrier de visites planifiées avec le menu Famille->Visites planifiees</li>
            <li>L'historique de toutes les visites que vous avez effectuées est enregistre dans le registre des soins</li>
            <li>Vous ne pouvez pas indiquer le transfert vers une autre FA, celui-ci doit être effectuée par un responsable de l'association</li>
        </ul>
        {% endif %}
        {% if user.FAisRF %}
        <h3>Opérations possibles pour un responsable FA</h3>
        <ul>
            <li>En tant que responsable FA, vous avez accès aux informations des FA sous votre responsabilité: la liste de ces FA étant accessible avec le bouton correspondant</li>
            <li>Lorsque vous opérez sur une autre FA, la première ligne de la page vous indique la FA dont vous voyez les données</li>
            </li>Vous avez accès à leur chats comme s'il s'agissait de vôtres, vous pouvez donc mettre à jour les informations, planifier/indiquer des
                visites vétérinaires, etc.  Vous ne pouvez pas transférer des chats entre FA, celui-ci doit être effectuée par un responsable de l'association</li>
            <li>Vous pouvez visualiser le calendrier des visites de cette FA ainsi que son registre des soins</li>
            <li>Vous avez aussi accès aux les listes des chats adoptés ou décédés</li>
        </ul>
        {% endif %}
        {% if user.FAisOV %}
        <h3>Opérations possibles pour un superviseur</h3>
        <ul>
            <li>Visualiser les informations de toutes les FA (liste des chats, visites)</li>
            <li>Visualiser la liste de tous les chats ou celle limitée aux chats marques "adoptable"</li>
            <li>Visualiser les listes des chats adoptés ou décédés</li>
            <li>Vous ne pouvez en aucun cas modifier les informations relatives aux chats, ni les déplacer</li>
        </ul>
        {% endif %}
        {% if user.FAisADM %}
        <h3>Opérations possibles un gestionnaire registre</h3>
        <ul>
            <li>Rajouter un chat dans le système, soit manuellement soit par copier-coller d'un dossier Refugilys (il y a un format spécifique à respecter!)</li>
            <li>Effectuer toutes les opérations des autres rôles, en ayant donc accès à toutes le informations de tous les chats en FA, avec la possibilité des les modifier</li>
            <li>Transférer les chats entre FA, y compris "FA spéciales" (adoptés/décédés/historique), donc par exemple un chat indique décédé par erreur peut être remis dans une FA</li>
            <li>Lors de l'enregistrement d'une adoption ou décès, vous pouvez transférer le chat dans l'historique</li>
            <li>Effacer définitivement du système un chat de l'historique: !!! ATTENTION !!! cette opération est irréversible et efface aussi toutes les informations relatives aux visites
                vétérinaires effectuées sur ce chat, en le faisant donc disparaître de tous les registres de soin des FA concernées!</li>
            <li>Vous pouvez exporter les dernieres modification des informations sur les chats ou exporter l'integralite de la base de donnees.  Le format utilise est le meme
                que dans le cas d'importation des dossiers Refugilys (et il n'est pas tres lisible, vu qu'il est concu pour l'echange de donnees et non pas pour la lecture;
                si vous voulez un tableau lisible, l'export CSV des listes accessible en tant que superviseur est un meilleur choix)</li>
            <li>Rajouter ou modifier les informations relatives a un utisateur: seulement certains types d'utilisateurs peuvent etre rajoutes (ou modifies) par l'interface,
                les utilisateurs speciaux (adoptions, deces, refuge, historique, GR) ne peuvent pas etre modifies.  Cette meme interface permet de rajouter une clinique
                veterinaire dans la liste, de facon a qu'elle apparaisse dans les choix possibles pour les visites veterinaires.</li>
        </ul>
        {% endif %}

     </div><!-- /.container -->
</body>
</html>
