<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <script>
        function showHide(elem) {
            var x = document.getElementById(elem);
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function showHideAll() {
            var i, descs = document.querySelectorAll('[id^="desc_"]');

            for (i = 0; i < descs.length; ++i) {
                if (descs[i].style.display == "none") {
                    descs[i].style.display = "block";
                } else {
                    descs[i].style.display = "none";
                }
            }
        }
        function readableAge(days) {
            if (days < 12*7)  return Math.floor(days/7).toString()+"s";
            else if (days < 365) return Math.floor(days/30.42).toString()+"m";
            else if (days < 1095) {
                var sm = Math.floor((days % 365) / 183) * 6;
                return Math.floor(days/365).toString()+"a"+ ((sm==0)? "" : sm.toString()+"m");
            }
            else return Math.floor(days/365).toString()+"a";
        }
        window.onload=function() {
            var i, dates = document.querySelectorAll('[id^="bd_"]');
            var today = new Date().getTime() / 1000;

            for (i = 0; i < dates.length; ++i) {
                days = Math.floor((today - parseInt(dates[i].innerHTML))/86400);
                dates[i].innerHTML = readableAge(days);
            }
        }
    </script>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header"><a class="nav navbar-brand" href="/self">{{ user.FAid }} ({{ user.FAname }}) [
                {% if user.FAisFA %} FA {% endif %}
                {% if user.FAisRF %} RF {% endif %}
                {% if user.FAisOV %} SV {% endif %}
                {% if user.FAisADM %} GR {% endif %} ]
            </a></div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Famille<span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-inverse"><form class="form-inline" action="vet" method="POST">
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="fa_catlist">Chats en FA</button></li>
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="fa_vetplan">Visites planifiees</button></li>
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="fa_vetreg">Registre des Soins</button></li>
                    </form></ul>
                </li>
                {% if user.FAisRF %}<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Resp. FA<span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-inverse"><form class="form-inline" action="list" method="POST">
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="sv_viewFAresp">FA sous ma responsabilite</button></li>
                    </form></ul>
                </li>{% endif %}
                {% if user.FAisOV %}<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Superviseur<span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-inverse"><form class="form-inline" action="list" method="POST">
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="sv_viewFA">Vision par FA</button></li>
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="sv_globalTab">Vision d'ensemble</button></li>
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="sv_adoptTab">Chats a l'adoption</button></li>
                    </form></ul>
                </li>{% endif %}
                {% if user.FAisADM %}<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gest. Registre<span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-inverse"><form class="form-inline" action="/" method="POST"><input type="hidden" name="action" value="sv_fastate">
                        <li><button class="btn btn-link navbar-btn" name="FAid" value="{{FAids[0]}}">Chats adoptes</button></li>
                        <li><button class="btn btn-link navbar-btn" name="FAid" value="{{FAids[1]}}">Chats decedes</button></li>
                        <li><button class="btn btn-link navbar-btn" name="FAid" value="{{FAids[2]}}">Historique</button></li>
                    </form><form class="form-inline" action="cat" method="POST">
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="adm_newcat">Rajouter un chat</button></li>
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="adm_refucat">Interoperabilite Refugilys</button></li>
                    </form></ul>
                </li>{% endif %}
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="help">Aide</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
        {% endif %}
        </ul>
    </div>
    </nav>

    <div class="container">
        {% if falist %}
            <h2>Familles d'accueil</h2>

            <form action="/" method="POST"><input type="hidden" name="action" value="sv_fastate">
            {% for fa in falist %}
                <div class="row">
                    <div class="col-sm-2"><button class="btn btn-default" name="FAid" value="{{fa.id}}">{{ fa.FAid }}</button> :</div>
                    <div class="col-sm-4">{{ fa.FAname }} [
                    ({{ fa.id }})
                    {% if fa.FAisFA %} FA {% endif %}
                    {% if fa.FAisRF %} RF {% endif %}
                    {% if fa.FAisOV %} SV {% endif %}
                    {% if fa.FAisADM %} GR {% endif %} ]
                    </div>
                    <div class="col-sm-3">
                        {% if fa.FAlastop %}Derniere activité: {{ fa.FAlastop.strftime("%d/%m/%Y %H:%M") }}{% endif %}
                    </div>
                    <div class="col-sm-3">
                        {% if fa.FAresp_id %}({{ fa.FAresp_id }}){% endif %}
                    </div>
                </div>
            {% endfor %}
            </form>

            <form action="/" method="POST"><input type="hidden" name="action" value="sv_fastate">
               <div class="form-group"><button class="btn btn-default" name="FAid" value="{{FAids[0]}}">Chats adoptés</button></div>
               </form>

           <form action="/" method="POST"><input type="hidden" name="action" value="sv_fastate">
              <div class="form-group"><button class="btn btn-default" name="FAid" value="{{FAids[1]}}">Chats décédés</button></div>
              </form>
        {% endif %}

        {% if catlist %}
            <h2>{% if adoptonly %}Chats disponibles a l'adoption{% else %}Tableau global des chats{% endif %}</h2>
            <p><a href="#" onClick="showHideAll();">Montrer/cacher toutes les descriptions</a></p>
            {% for cat in catlist %}
             <div class="row">
                 <div class="col-sm-1">
                    <form action="cat" method="POST">
                        <input type="hidden" name="catid" value="{{cat.id}}">
                        <button class="btn btn-default btn-sm" type="submit" name="action" value="fa_viewcat"><strong>{{cat.registre}}</strong></button>
                    </form>
                </div>
                <div class="col-sm-2">{{ cat.identif }}</div>
                <div class="col-sm-4">
                    <a href="#" onClick="showHide('desc_{{cat.registre}}');"><b>{% if cat.name %}{{ cat.name }}{% else %}sans nom{% endif %}</b></a>
                    ({{ tabsex[cat.sex] }},
                    {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}??age??{% endif %},
                    {{ tabcol[cat.color] }}{{ tabhair[cat.longhair] }})</div>
                <div class="col-sm-1"><p style="font-family:monospace;">{{ cat.vetshort }}</p></div>
                <div class="col-sm-2">{{ cat.owner.FAname }}</div>
                {% if not adoptonly %}
                    <div class="col-sm-2">{% if cat.adoptable %}<span class="bg-success">Adoptable</span>{% else %}<span class="bg-danger">Non adoptable</span>{% endif %}</div>
                {% endif %}
            </div>
            <div class="row" style="display: none;" id="desc_{{cat.registre}}">
                <div class="col-sm-1"></div>
                <div class="col-sm-11"><p class="small">{{ cat.description }}</p></div>
            </div>
            {% else %}
                Aucun chat est enregistre dans le systeme.
            {% endfor %}
            <div class="row">
                <a href="/listcsv{% if adoptonly %}a{%endif%}">Telecharger le tableau en CSV</a>
            </div>
        {% endif %}
        <hr>
        {% if user.FAisRF %}
        <div class="row">
            Commandes disponibles en tant que responsable FA:
        </div>
        <div class="row">
            <form  action="list" method="POST">
                <button type="submit" name="action" value="sv_viewFAresp">FA sous ma responsabilite</button>
            </form>
        </div>
        {% endif %}
        {% if user.FAisOV %}
        <div class="row">
            Commandes disponibles en tant que Superviseur:
        </div>
        <div class="row">
            <form  action="list" method="POST">
                <button type="submit" name="action" value="sv_viewFA">Vision par FA</button>
                <button type="submit" name="action" value="sv_globalTab">Vision d'ensemble</button>
                <button type="submit" name="action" value="sv_adoptTab">Chats a l'adoption</button>
            </form>
        </div>
        {% endif %}
        {% if user.FAisADM %}
        <div class="row">
            Commandes disponibles en tant que Gestionnaire-Registre:
        </div>
        <div class="row">
            <form action="cat" method="POST">
                <button type="submit" name="action" value="adm_newcat">Rajouter un chat</button>
                <button type="submit" name="action" value="adm_refucat">Rajouter un dossier Refugilys</button>
            </form></div>
        <div class="row">
            <form action="/" method="POST"><input type="hidden" name="action" value="sv_fastate">
                <button name="FAid" value="{{FAids[0]}}">Chats adoptes</button>
                <button name="FAid" value="{{FAids[1]}}">Chats decedes</button>
                <button name="FAid" value="{{FAids[2]}}">Historique</button>
            </form></div>
        {% endif %}
    </div><!-- /.container -->
</body>
</html>
