<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <script>
        function showHide(elem) {
            var x = document.getElementById(elem);
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function showHideAll() {
            var i, descs = document.querySelectorAll('[id^="desc_"]');

            for (i = 0; i < descs.length; ++i) {
                if (descs[i].style.display == "none") {
                    descs[i].style.display = "block";
                } else {
                    descs[i].style.display = "none";
                }
            }
        }
        function readableAge(days) {
            if (days < 12*7)  return Math.floor(days/7).toString()+"s";
            else if (days < 365) return Math.floor(days/30.42).toString()+"m";
            else if (days < 1095) {
                var sm = Math.floor((days % 365) / 183) * 6;
                return Math.floor(days/365).toString()+"a"+ ((sm==0)? "" : sm.toString()+"m");
            }
            else return Math.floor(days/365).toString()+"a";
        }
        function readableRegistre(regnum) {
            ry = Math.floor(regnum/10000);
            rn = regnum - 10000*ry;
            return rn.toString()+"-"+ry.toString();
        }
       window.onload=function() {
            var i, dates = document.querySelectorAll('[id^="bd_"]');
            var today = new Date().getTime() / 1000;

            for (i = 0; i < dates.length; ++i) {
                days = Math.floor((today - parseInt(dates[i].innerHTML))/86400);
                dates[i].innerHTML = readableAge(days);
                // Math.floor(parseInt(dates[i].innerHTML)/86400;
            }

            var regnums = document.querySelectorAll('[id^="rn_"');
            for (i = 0; i < regnums.length; ++i) {
                regnum = parseInt(regnums[i].innerHTML);
                regnums[i].innerHTML = readableRegistre(regnum);
                // Math.floor(parseInt(dates[i].innerHTML)/86400;
            }
        }
    </script>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header"><a class="nav navbar-brand" href="/self">{{ user.FAid }} ({{ user.FAname }})</a></div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Famille<span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-inverse"><form class="form-inline" action="vet" method="POST">
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="fa_catlist">Chats en FA</button></li>
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="fa_vetplan">Visites planifiees</button></li>
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="fa_vetreg">Registre des Soins</button></li>
                    </form></ul>
                </li>
                {% if user.FAisRF %}<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Resp. FA<span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-inverse"><form class="form-inline" action="list" method="POST">
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="sv_viewFAresp">FA sous ma responsabilite</button></li>
                    </form></ul>
                </li>{% endif %}
                {% if user.FAisOV %}<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Superviseur<span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-inverse"><form class="form-inline" action="list" method="POST">
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="sv_viewFA">Vision par FA</button></li>
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="sv_globalTab">Vision d'ensemble</button></li>
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="sv_adoptTab">Chats a l'adoption</button></li>
                    </form></ul>
                </li>{% endif %}
                {% if user.FAisADM %}<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gest. Registre<span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-inverse"><form class="form-inline" action="/" method="POST"><input type="hidden" name="action" value="sv_fastate">
                        <li><button class="btn btn-link navbar-btn" name="FAid" value="{{FAids[0]}}">Chats adoptes</button></li>
                        <li><button class="btn btn-link navbar-btn" name="FAid" value="{{FAids[1]}}">Chats decedes</button></li>
                        <li><button class="btn btn-link navbar-btn" name="FAid" value="{{FAids[2]}}">Historique</button></li>
                    </form><form class="form-inline" action="cat" method="POST">
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="adm_newcat">Rajouter un chat</button></li>
                        <li><button class="btn btn-link navbar-btn" type="submit" name="action" value="adm_refucat">Interoperabilite Refugilys</button></li>
                    </form></ul>
                </li>{% endif %}
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="help">Aide</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
        {% endif %}
        </ul>
    </div>
</nav>

    <div class="container">
    {% if msg %}{% for m in  msg %}
        {% if m[0] == 0 %}<div class="alert alert-success">{% endif %}
        {% if m[0] == 1 %}<div class="alert alert-info">{% endif %}
        {% if m[0] == 2 %}<div class="alert alert-warning">{% endif %}
        {% if m[0] == 3 %}<div class="alert alert-danger">{% endif %}
        {{ m[1] }}</div>
    {% endfor %}{% endif %}

        {% if otheruser %} <h2>Situation FA : {{ otheruser.FAname }}</h2> {% endif %}

        <h2>Chats detenus</h2>
        {% if cats %}<p><a href="#" onClick="showHideAll();">Montrer/cacher toutes les descriptions</a></p>{% endif %}
        {% for cat in cats %}
            <form action="cat" method="POST"><input type="hidden" name="catid" value="{{cat.id}}">
            <div class="row">
                <div class="col-sm-1">
                    <button class="btn btn-default btn-sm" type="submit" name="action" value="fa_viewcat"><strong><span id="rn_{{cat.id}}">{{cat.regnum}}</span></strong></button>
                </div>
                <div class="col-sm-2">{{ cat.identif }}</div>
                <div class="col-sm-4">
                    <a href="#" onClick="showHide('desc_{{cat.id}}');"><b>{% if cat.name %}{{ cat.name }}{% else %}<span class="bg-warning">sans nom</span>{% endif %}</b></a>
                    ({% if cat.sex %}{{ tabsex[cat.sex] }}{% else %}<span class="bg-warning">??sexe??</span>{% endif %},
                    {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}<span class="bg-warning">??age??</span>{% endif %},
                    {% if cat.color %}{{ tabcol[cat.color] }}{% else %}<span class="bg-warning">??couleur??</span>{% endif %}
                    {{ tabhair[cat.longhair] }})</div>
                <div class="col-sm-1"><p style="font-family:monospace;">{{ cat.vetshort }}</p></div>
                <div class="col-sm-2">{% if cat.adoptable %}<span class="bg-success">Adoptable</span>{% else %}Non adoptable{% endif %}</div>
            </div>
            <div class="row" style="display: none;" id="desc_{{cat.id}}">
                <div class="col-sm-1"></div>
                <div class="col-sm-11"><p class="small">{{ cat.description }}</p></div>
            </div>
            </form>
            {% if otheruser and (otheruser.FAisAD or otheruser.FAisDCD or otheruser.FAisHIST) %}
                <form action="." method="POST"><input type="hidden" name="catid" value="{{cat.id}}">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        {% if otheruser.FAisAD %}<button type="submit" name="action" value="adm_histcat">Confirmer l'adoption et deplacer le chat dans l'historique</button>{% endif %}
                        {% if otheruser.FAisDCD %}<button type="submit" name="action" value="adm_histcat">Confirmer le deces et deplacer le chat dans l'historique</button>{% endif %}
                        {% if otheruser.FAisHIST %}<button type="submit" name="action" value="adm_deletecat">EFFACER LE CHAT DU SYSTEME (ATTENTION: IRREVERSIBLE)</button>{% endif %}
                    </div>
                </div>
                </form>
            {% endif %}
        {% else %}
            <div class="row">Aucun</div>
        {% endfor %}
        <hr>
        <div class="row"><form action="vet" method="POST">
            <button type="submit" name="action" value="fa_catlist">Liste des chats</button>
            <button type="submit" name="action" value="fa_vetreg">Registre des soins</button>
            <button type="submit" name="action" value="fa_vetplan">Visites planifiees</button>
        </form></div>
        {% if user.FAisRF %}
        <div class="row">
            Commandes disponibles en tant que responsable FA:
        </div>
        <div class="row">
            <form  action="list" method="POST">
                <button type="submit" name="action" value="sv_viewFAresp">FA sous ma responsabilite</button>
            </form>
        </div>
        {% endif %}
        {% if user.FAisOV %}
        <div class="row">
            Commandes disponibles en tant que Superviseur:
        </div>
        <div class="row">
            <form  action="list" method="POST">
                <button type="submit" name="action" value="sv_viewFA">Vision par FA</button>
                <button type="submit" name="action" value="sv_globalTab">Vision d'ensemble</button>
                <button type="submit" name="action" value="sv_adoptTab">Chats a l'adoption</button>
            </form>
        </div>
        {% endif %}
        {% if user.FAisADM %}
        <div class="row">
            Commandes disponibles en tant que Gestionnaire-Registre:
        </div>
        <div class="row">
            <form action="cat" method="POST">
                <button type="submit" name="action" value="adm_newcat">Rajouter un chat</button>
                <button type="submit" name="action" value="adm_refucat">Rajouter des dossiers Refugilys</button>
            </form></div>
        <div class="row">
            <form action="/" method="POST"><input type="hidden" name="action" value="sv_fastate">
                <button name="FAid" value="{{FAids[0]}}">Chats adoptes</button>
                <button name="FAid" value="{{FAids[1]}}">Chats decedes</button>
                <button name="FAid" value="{{FAids[2]}}">Historique</button>
            </form></div>
        {% endif %}

     </div><!-- /.container -->
</body>
</html>
