<html>
    <head>
        <title>My scratchboard page</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>

<body>
    <nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My scratchpad</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
        {% endif %}
        </ul>
    </div>
    </nav>


    <div class="container">

        {% for comment in comments %}
         <div class="row" style="margin-bottom: 1ex">
            <div>
                {{ comment.content }}
            </div>
            <div>
                <small>
                Posted
                {% if comment.posted %}
                    {{ comment.posted.strftime("%A, %d %B %Y at %H:%M") }}
                {% else %}
                    at an unknown time
                {% endif %}
                by
                {% if comment.commenter %}
                    {{ comment.commenter.FAname }}
                {% else %}
                    anonymous
                {% endif %}
                </small>
            </div>
        </div>
        {% endfor %}

        {% if current_user.is_authenticated %}
            <div class="row">
                <form action="." method="POST">
                    <textarea class="form-control" name="contents" placeholder="Enter a comment"></textarea>
                    <input type="submit" class="btn btn-success" value="Post comment">
                </form>
            </div>
        {% endif %}
     </div><!-- /.container -->
</body>
</html>
