<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>
    <script>
        function showHide(elem) {
            var x = document.getElementById(elem);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ user.FAid }} ({{ user.FAname }}) [
                {% if user.FAisFA %}
                    FA
                {% endif %}
                {% if user.FAisOV %}
                    SV
                {% endif %}
                {% if user.FAisADM %}
                    GR
                {% endif %} ]
           </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
        {% endif %}
        </ul>
    </div>
    </nav>


    <div class="container">

        <h2>Chats detenus</h2>

        {% for cat in cats %}
         <div class="row">
             <div class="col-sm-1">
                <form action="cat" method="POST">
                    <input type="hidden" name="catid" value="{{cat.id}}">
                    <button class="btn btn-default btn-sm" type="submit" name="action" value="fa_viewcat"><strong>{{cat.registre}}</strong></button>
                    <a href="#" onClick="showHide('desc{{cat.registre}}');">D</a></form>
            </div>
            <div class="col-sm-2">{{ cat.identif }}</div>
            <div class="col-sm-2">{{ cat.name }}</div>
            <div class="col-sm-1">{{ tabsex[cat.sex] }}</div>
            <div class="col-sm-2">{{ tabcol[cat.color] }}</div>
            <div class="col-sm-1">{{ tabhair[cat.longhair] }}</div>
            <div class="col-sm-1"><p style="font-family:monospace;">{{ cat.vetshort }}</p></div>
            <div class="col-sm-2">{% if cat.adoptable %}<p class="bg-success">Adoptable</p>{% else %}<p class="bg-danger">Non adoptable</p>{% endif %}</div>
        </div>
        <div class="row" style="display: none;" id="desc{{cat.registre}}">
            <div class="col-sm-1"></div>
            <div class="col-sm-11"><p class="small">{{ cat.description }}</p></div>
        </div>
        {% else %}
            <div class="row">Aucun</div>
        {% endfor %}

        {% if ocats %}
            <h2>Chats donnes</h2>
        {% endif %}

        {% for cat in ocats %}
         <div class="row">
             <div class="col-sm-1">
                <form action="cat" method="POST">
                    <input type="hidden" name="catid" value="{{cat.id}}">
                    <button class="btn btn-default btn-sm" type="submit" name="action" value="fa_viewcat"><strong>{{cat.registre}}</strong></button>
                    <a href="#" onClick="showHide('desc{{cat.registre}}');">D</a></form>
            </div>
            <div class="col-sm-2">{{ cat.identif }}</div>
            <div class="col-sm-2">{{ cat.name }}</div>
            <div class="col-sm-1">{{ tabsex[cat.sex] }}</div>
            <div class="col-sm-2">{{ tabcol[cat.color] }}</div>
            <div class="col-sm-1">{{ tabhair[cat.longhair] }}</div>
            <div class="col-sm-1"><p style="font-family:monospace;">{{ cat.vetshort }}</p></div>
            <div class="col-sm-2">{% if cat.adoptable %}<p class="bg-success">Adoptable</p>{% else %}<p class="bg-danger">Non adoptable</p>{% endif %}</div>
        </div>
        <div class="row" style="display: none;" id="desc{{cat.registre}}">
            <div class="col-sm-1"></div>
            <div class="col-sm-11"><p class="small">{{ cat.description }}</p></div>
        </div>
        <form action="." method="POST"><input type="hidden" name="catid" value="{{cat.id}}">
            <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3"><p>Donne a: {{ cat.nextowner.FAname }}</p></div>
            <div class="col-sm-1"></div>
            <div><button type="submit" name="action" value="fa_canceltr">Annuler le transfert</button></div>
            </div>
        </form>
        {% endfor %}

        {% if icats %}
            <h2>Chats recus</h2>
        {% endif %}

        {% for cat in icats %}
         <div class="row">
             <div class="col-sm-1">
                <form action="cat" method="POST">
                    <input type="hidden" name="catid" value="{{cat.id}}">
                    <button class="btn btn-default btn-sm" type="submit" name="action" value="fa_viewcat"><strong>{{cat.registre}}</strong></button>
                    <a href="#" onClick="showHide('desc{{cat.registre}}');">D</a></form>
            </div>
            <div class="col-sm-2">{{ cat.identif }}</div>
            <div class="col-sm-2">{{ cat.name }}</div>
            <div class="col-sm-1">{{ tabsex[cat.sex] }}</div>
            <div class="col-sm-2">{{ tabcol[cat.color] }}</div>
            <div class="col-sm-1">{{ tabhair[cat.longhair] }}</div>
            <div class="col-sm-1"><p style="font-family:monospace;">{{ cat.vetshort }}</p></div>
            <div class="col-sm-2">{% if cat.adoptable %}<p class="bg-success">Adoptable</p>{% else %}<p class="bg-danger">Non adoptable</p>{% endif %}</div>
        </div>
        <div class="row" style="display: none;" id="desc{{cat.registre}}">
            <div class="col-sm-1"></div>
            <div class="col-sm-11"><p class="small">{{ cat.description }}</p></div>
        </div>
        <form action="." method="POST"><input type="hidden" name="catid" value="{{cat.id}}">
            <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3"><p>Recu de: {{ cat.owner.FAname }}</p></div>
            <div class="col-sm-2"><button type="submit" name="action" value="fa_accepttr">Accepter le transfert</button></div>
            </div>
        </form>
        {% endfor %}

        <hr>

        {% if user.FAisOV %}
        <form  action="list" method="POST">
            <div class="row">
                Commandes disponibles en tant que Superviseur:<br>
                    <button type="submit" name="action" value="sv_viewFA">Vision par FA</button>
                    <button type="submit" name="action" value="sv_globalTab">Vision d'ensemble</button>
            </div>
        </form>
        {% endif %}
        {% if user.FAisADM %}
        <div class="row">
            Commandes disponibles en tant que Gestionnaire-Registre:<br>
                <form action="cat" method="POST"><button type="submit" name="action" value="adm_newcat">Rajouter un chat</button></form>
                <form action="list" method="POST"><button type="submit" name="action" value="adm_manageAD">Chats adoptes</button>
                <button type="submit" name="action" value="adm_manageDCD">Chats decedes</button>
                <button type="submit" name="action" value="adm_manageFA">Chats en FA</button></form>
        </div>
        {% endif %}

     </div><!-- /.container -->
</body>
</html>
