    {% if devsite %}<div class="row">
	<div class="alert alert-danger">ATTENTION: ce site est la version en développement du logiciel FA, les informations sur les chats de ce site ne correspondent
        pas à la réalité.  Le site officiel est
        <a href="https://fa.association-era.org/fa">https://fa.association-era.org/</a></div>
    </div>{% endif %}
    {% if msg %}{% for m in  msg %}
        {% if m[0] == 0 %}<div class="alert alert-success">{% endif %}
        {% if m[0] == 1 %}<div class="alert alert-info">{% endif %}
        {% if m[0] == 2 %}<div class="alert alert-warning">{% endif %}
        {% if m[0] == 3 %}<div class="alert alert-danger">{% endif %}
        {{ m[1] }}</div>
    {% endfor %}{% endif %}
