<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script language="javascript" src="https://momentjs.com/downloads/moment.js"></script>
        <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    </head>
    <script>
{% include 'functions.html' %}
        window.onload=function() {
            fixAllRegnums();
        }
    </script>
    <style>
    hr {
       border-top: 1px dotted #000000 !important;
       margin-bottom:10px !important;
       margin-top:5px !important;

    }
    </style><body>
{% include 'navbar.html' %}

    <div class="container">
    {% if msg %}{% for m in  msg %}
        {% if m[0] == 0 %}<div class="alert alert-success">{% endif %}
        {% if m[0] == 1 %}<div class="alert alert-info">{% endif %}
        {% if m[0] == 2 %}<div class="alert alert-warning">{% endif %}
        {% if m[0] == 3 %}<div class="alert alert-danger">{% endif %}
        {{ m[1] }}</div>
    {% endfor %}{% endif %}

        <h2>Utilitaires de systeme</h2>

        <div class="alert alert-danger"><h3>ATTENTION!!! Les operations effectuees par cette page sont a utiliser SEULEMENT SI ON SAIT
        EXACTEMENT CE QUE L'ON FAIT, comme les degats peuvent etre enormes et irreversibles.</h3></div>

        <form action="/admin" method="POST">
            <div class="row form-group">
                <div class="col-sm-3"><button class="btn btn-secondary" type="submit" name="action" value="adm_vettab">Generer le vet hash map pour FawebHelper.pm</button></div>
                <div class="col-sm-3"><button class="btn btn-secondary" type="submit" name="action" value="adm_numcats">Recalculer le nombre des chats dans chaque FA</button></div>
                <div class="col-sm-3"><button class="btn btn-secondary" type="submit" name="action" value="adm_cleanup">Nettoyer l'historique en effacant tous les chats de l'annee derniere</button></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3"><button class="btn btn-secondary mt-3" type="submit" name="action" value="adm_deluser">Effacer un utilisateur: les chats sont reassignes a "FA temporaires"</button></div>
                <div class="col-sm-2"><input class="form-control border border-dark mt-3" type="text" name="u_name"></div>
            </div>
        </form>
        <hr>
        {% if admresult %}Resultat: {{ admresult }}{% endif %}

        {% include 'bottom.html' %}
     </div><!-- /.container -->
</body>
</html>
