<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            @page {
                 size: A4 portrait;
                 margin: 0pt;
            }
            @media print {
                html, body {
                    margin: 20pt;
                }
                table, th, td {
                    font-size: 11pt;
                }
            }
            table, th, td {
                border: 0px;
                margin-left: 10px;
            }
            th, td {
               padding: 2px;
            }
        </style>
    </head>
    <script>
{% include 'functions.html' %}
        window.onload=function() {
            fixAllDates();
            // fixAllRegnums();

            // window.print();
        }
    </script>
<body>

<table>
    <tr>
        <td><img src="{{ url_for('static', filename='logo-ERA.png')}}" style="width:160px;" /></td>
        <td style="white-space: pre;"><b>ERA Ethique et Respect Animal</b><br>
1 rue des Zouaves
67000 STRASBOURG
Tel. 06 58 49 23 93
E-mail: info@assocera.com
Web: www.assocera.com</td>
        <td style="width: 100%; text-align: right;"><img src="{{ qrcode(qrdata) }}" style="width:160px;" /></td>
    </tr>
</table>

<h3 style="text-align:center">BON VETERINAIRE</h2>

<table>
    <tr>
        <td>Emetteur:</td>
        <td>{{ authFA }}</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td>{{ bdate.strftime("%d/%m/%y") }}</td>
    </tr>
    {% if faname %}<tr><td>&nbsp;</td></tr>
    <tr>
        <td>{% if postAD %}Adoptant(e){% else %}Famille d'accueil{% endif %} :</td>
        <td>{{ faname }}</td>
    </tr>
    {% if not postAD %}<tr>
        <td></td>
        <td>L'association mandate la famille d'accueil pour effectuer les soins sur le chat jusqu'à son adoption.</td>
    </tr>{% endif %}{% endif %}
    <tr><td>&nbsp;</td></tr>
    {% for cat in cats %}
        <tr>
            <td>{% if cat==cats[0] %}{% if cats|length == 1 %}Animal concerné:{% else %}Animaux concernés:{% endif %}{% endif %}</td>
            <td><span id="rn_{{cat.id}}">{{cat.regStr()}}</span> / {% if cat.identif %}{{cat.identif}}{% else %}non identifié{% endif %}
                ({% if cat.name %}{{ cat.name }}{% else %}sans nom{% endif %}, {% if cat.sex %}{{ tabsex[cat.sex] }}{% else %}sexe?{% endif %},
                    {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}<span class="bg-warning">âge?</span>{% endif %},
                    {% if cat.color %}{{ tabcol[cat.color] }}{% else %}<span class="bg-warning">couleur?</span>{% endif %}{{ tabhair[cat.longhair] }})</td>
        </tr>
    {% endfor %}
    {% for cat in ucats %}
        <tr>
            <td>{% if cat==ucats[0] %}{% if ucats|length == 1 %}Animal concerné:{% else %}Animaux concernés:{% endif %}{% endif %}</td>
            <td><span id="rn_{{cat.id}}">{{cat['regnum']}}</span> ({% if cat['name'] %}{{ cat['name'] }}{% endif %} {% if cat['age'] %}{{ cat['age'] }}{% else %}chat{% endif %}
                    {% if cat['sex'] %}{{ cat['sex'] }}{% endif %}
                    {% if cat['col'] %}{{ cat['col'] }}{% endif %})</td>
        </tr>
    {% endfor %}
    <tr><td>&nbsp;</td></tr>
</table>

<table>
    <tr>
        <td>Soins à effectuer :</td>
    </tr>
    {% if vtype[0] %}<tr><td>{{ vtype[0] }} vaccination{% if vtype[0] != 1 %}s{% endif %} (typhus/coryza)</td></tr>{% endif %}
    {% if vtype[1] %}<tr><td>{{ vtype[1] }} rappel{% if vtype[1] != 1 %}s{% endif %} (typhus/coryza)</td></tr>{% endif %}
    {% if vtype[2] %}<tr><td>{{ vtype[2] }} stérilisation{% if vtype[2] != 1 %}s{% endif %}</td></tr>{% endif %}
    {% if vtype[3] %}<tr><td>{{ vtype[3] }} castration{% if vtype[3] != 1 %}s{% endif %}</td></tr>{% endif %}
    {% if vtype[4] %}<tr><td>{{ vtype[4] }} identification{% if vtype[4] != 1 %}s{% endif %}</td></tr>{% endif %}
    {% if vtype[5] %}<tr><td>{{ vtype[5] }} test{% if vtype[5] != 1 %}s{% endif %} FIV/FeLV</td></tr>{% endif %}
    {% if vtype[6] %}<tr><td>{{ vtype[6] }} déparasitage{% if vtype[6] != 1 %}s{% endif %}</td></tr>{% endif %}
    {% for c in comments %}
        <tr><td>{{ c }}</td></tr>
    {% endfor %}
</table>

<table>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td> siret 80894688300010</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>Pour les castrations, prise en charge de l'association : 36 €</td>
    </tr>
    <tr>
        <td>Pour les stérilisations, prise en charge de l'association : 70 €</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
</table>

<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td>La présidente:</td>
        <td><img src="{{ url_for('static', filename='signature-bon.png')}}" style="width:160px;" /></td>
    </tr>
</table>

</body>
</html>
