        function showHide(elem) {
            var x = document.getElementById(elem);
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function showHideAllDescs() {
            var i, descs = document.querySelectorAll('[id^="desc_"]');

            for (i = 0; i < descs.length; ++i) {
                if (descs[i].style.display == "none") {
                    descs[i].style.display = "block";
                } else {
                    descs[i].style.display = "none";
                }
            }
        }
        function readableAge(days) {
            if (days < 12*7)  return Math.floor(days/7).toString()+"s";
            else if (days < 365) return Math.floor(days/30.42).toString()+"m";
            else if (days < 1095) {
                var sm = Math.floor((days % 365) / 183) * 6;
                return Math.floor(days/365).toString()+"a"+ ((sm==0)? "" : sm.toString()+"m");
            }
            else return Math.floor(days/365).toString()+"a";
        }
        function readableRegistre(regnum) {
            var ry = Math.floor(regnum/10000);
            var rn = regnum - 10000*ry;
            return rn.toString()+"-"+ry.toString();
        }
        function fixAllDates() {
            var i, dates = document.querySelectorAll('[id^="bd_"]');
            var today = new Date().getTime() / 1000;
            for (i = 0; i < dates.length; ++i) {
                days = Math.floor((today - parseInt(dates[i].innerHTML))/86400);
                dates[i].innerHTML = readableAge(days);
            }
        }
        function populatecolor(selid) {
            var cols = [ {% for c in TabCols %} "{{c|safe}}", {% endfor %}];
            var sel, i, option;
            sel = document.getElementById(selid);

            for (i = 0; i < cols.length; ++i) {
                option = document.createElement('option');
                option.value = i;
                option.text = cols[i];
                sel.add(option);
            }
        }
        function populatevets(selid) {
            var vettab = [ {% for v in VETids %} [{{v.id}}, "{{v.FAname|safe}}"], {% endfor %}];
            var sel, i, option;
            sel = document.getElementById(selid);

            if (!sel) {
                return;
            }

            for (i = 0; i < vettab.length; ++i) {
                option = document.createElement('option');
                option.value = vettab[i][0];
                option.text = vettab[i][1];
                sel.add(option);
            }
            {% if VETdef %}sel.value = {{ VETdef }};{% endif %}
        }
        function populateCages(selid) {
            var cages = [ {% for c in TabCages %} ["{{c[0]}}", "{{c[1]}}"], {% endfor %}];
            var sel, i, option;

            sel = document.getElementById(selid);

            if (!sel) {
                return;
            }
            for (i = 0; i < cages.length; ++i) {
                option = document.createElement('option');
                option.value = cages[i][0];
                option.text = cages[i][1];
                sel.add(option);
            }
        }



