<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <script>
        function showHide(elem) {
            var x = document.getElementById(elem);
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function showHideAll() {
            var i, descs = document.querySelectorAll('[id^="desc_"]');

            for (i = 0; i < descs.length; ++i) {
                if (descs[i].style.display == "none") {
                    descs[i].style.display = "block";
                } else {
                    descs[i].style.display = "none";
                }
            }
        }
        function readableAge(days) {
            if (days < 12*7)  return Math.floor(days/7).toString()+"s";
            else if (days < 365) return Math.floor(days/30.42).toString()+"m";
            else if (days < 1095) {
                var sm = Math.floor((days % 365) / 183) * 6;
                return Math.floor(days/365).toString()+"a"+ ((sm==0)? "" : sm.toString()+"m");
            }
            else return Math.floor(days/365).toString()+"a";
        }
        function readableRegistre(regnum) {
            ry = Math.floor(regnum/10000);
            rn = regnum - 10000*ry;
            return rn.toString()+"-"+ry.toString();
        }
        window.onload=function() {
            var i, dates = document.querySelectorAll('[id^="bd_"]');
            var today = new Date().getTime() / 1000;

            for (i = 0; i < dates.length; ++i) {
                days = Math.floor((today - parseInt(dates[i].innerHTML))/86400);
                dates[i].innerHTML = readableAge(days);
            }

            var regnums = document.querySelectorAll('[id^="rn_"');
            for (i = 0; i < regnums.length; ++i) {
                regnum = parseInt(regnums[i].innerHTML);
                regnums[i].innerHTML = readableRegistre(regnum);
                // Math.floor(parseInt(dates[i].innerHTML)/86400;
            }
        }
    </script>
<body>
    {% include 'navbar.html' %}

    <div class="container">
    {% if msg %}{% for m in  msg %}
        {% if m[0] == 0 %}<div class="alert alert-success">{% endif %}
        {% if m[0] == 1 %}<div class="alert alert-info">{% endif %}
        {% if m[0] == 2 %}<div class="alert alert-warning">{% endif %}
        {% if m[0] == 3 %}<div class="alert alert-danger">{% endif %}
        {{ m[1] }}</div>
    {% endfor %}{% endif %}

        {% if falist %}
            <h2>Listes spéciales</h2>

            <form action="/fa" method="POST"><input type="hidden" name="action" value="sv_fastate">
                <div class="form-group"><button class="btn btn-default" name="FAid" value="{{FAids[0]}}">Chats adoptés</button>
                    <button class="btn btn-default" name="FAid" value="{{FAids[1]}}">Chats décédés</button></div>
                <div class="row">
                    <div class="col-sm-2"><button class="btn btn-default" name="FAid" value="{{FAids[3]}}">{{ refugfa.FAid }}</button> :</div>
                    <div class="col-sm-3">{{ refugfa.FAname }}</div>
                    <div class="col-sm-1">
                        {{ refugfa.numcats }} chat{% if refugfa.numcats != 1 %}s{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><button class="btn btn-default" name="FAid" value="{{FAids[4]}}">{{ tempfa.FAid }}</button> :</div>
                    <div class="col-sm-3">{{ tempfa.FAname }}</div>
                    <div class="col-sm-1">
                        {{ tempfa.numcats }} chat{% if tempfa.numcats != 1 %}s{% endif %}
                    </div>
                </div>
            </form>

            <h2>Familles d'accueil</h2>
            <form action="/fa" method="POST"><input type="hidden" name="action" value="sv_fastate">
            {% for fa in falist %}
                <div class="row">
                    <div class="col-sm-2"><button class="btn btn-default" name="FAid" value="{{fa.id}}">{{ fa.FAid }}</button> :</div>
                    <div class="col-sm-3">{{ fa.FAname }} [
                    {% if fa.FAisFA %} FA {% endif %}
                    {% if fa.FAisRF %} RF {% endif %}
                    {% if fa.FAisOV %} SV {% endif %}
                    {% if fa.FAisADM %} GR {% endif %} ]
                    </div>
                    <div class="col-sm-1">
                        {{ fa.numcats }} chat{% if fa.numcats != 1 %}s{% endif %}
                    </div>
                    <div class="col-sm-3">
                        {% if fa.FAlastop %}Dernière activité: {{ fa.FAlastop.strftime("%d/%m/%Y %H:%M") }}{% endif %}
                    </div>
                    <div class="col-sm-3">
                        {% if rftab and fa.FAresp_id %}(resp. {{ rftab[fa.FAresp_id] }}){% endif %}
                    </div>
                </div>
            {% endfor %}
            </form>
        {% else %}
            <h2>{{ listtitle }}</h2>
            <p><a href="#" onClick="showHideAll();">Montrer/cacher toutes les commentaires</a></p>
            {% for cat in catlist %}
             <div class="row">
                 <div class="col-sm-1">
                    <form action="/cat" method="POST">
                        <input type="hidden" name="catid" value="{{cat.id}}">
                        <button class="btn btn-default btn-sm" type="submit" name="action" value="fa_viewcat"><strong><span id="rn_{{cat.id}}">{{cat.regnum}}</span></strong></button>
                    </form>
                </div>
                <div class="col-sm-2">{{ cat.identif }}</div>
                <div class="col-sm-4">
                    <a href="#" onClick="showHide('desc_{{cat.registre}}');"><b>{% if cat.name %}{{ cat.name }}{% else %}sans nom{% endif %}</b></a>
                    ({{ tabsex[cat.sex] }},
                    {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}??âge??{% endif %},
                    {{ tabcol[cat.color] }}{{ tabhair[cat.longhair] }})</div>
                <div class="col-sm-1"><p style="font-family:monospace;">{{ cat.vetshort }}</p></div>
                <div class="col-sm-2">
                    {% if cat.owner_id == FAids[4] %}[{{ cat.temp_owner }}]{% else %}{{ cat.owner.FAname }}{% endif %}
                </div>
                {% if not adoptonly %}
                    <div class="col-sm-2">{% if cat.adoptable %}<span class="bg-success">Adoptable</span>{% else %}<span class="bg-danger">Non adoptable</span>{% endif %}</div>
                {% endif %}
            </div>
            <div class="row" style="display: none;" id="desc_{{cat.registre}}">
                <div class="col-sm-1"></div>
                <div class="col-sm-11"><p class="small">{{ cat.comments }}</p></div>
            </div>
            {% else %}
                Aucun chat trouvé.
            {% endfor %}
            {% if catlist %}<div class="row">
                <a href="/listcsv{% if adoptonly %}a{%endif%}">Télécharger le tableau en CSV</a>
            </div>{% endif %}
        {% endif %}

        {% include 'bottom.html' %}
    </div><!-- /.container -->
</body>
</html>
