<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script language="javascript" src="https://momentjs.com/downloads/moment.js"></script>
<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    </head>
    <script type="text/javascript">
{% include 'functions.html' %}
        window.onload=function() {
            fixAllDates();
            fixAllRegnums();
        }
        $(document).ready(function() {
          $('.datepick').datetimepicker({
            format: 'DD/MM/YY'
          });
        });
    </script>
    <style>
   hr {
       border-top: 1px dotted #000000 !important;
       margin-bottom:10px !important;
       margin-top:5px !important;
   }
    </style>
<body>
{% include 'navbar.html' %}

    <div class="container">
    {% if devsite %}<div class="row">
	<div class="alert alert-danger">ATTENTION: ce site est la version en developpement du logiciel FA, les informations sur les chats de ce site ne correspondent
        pas a la realite.  Le site officiel est
        <a href="https://erafa.pythonanywhere.com/fa">https://erafa.pythonanywhere.com/fa</a></div>
    </div>{% endif %}
    {% if msg %}{% for m in  msg %}
        {% if m[0] == 0 %}<div class="alert alert-success">{% endif %}
        {% if m[0] == 1 %}<div class="alert alert-info">{% endif %}
        {% if m[0] == 2 %}<div class="alert alert-warning">{% endif %}
        {% if m[0] == 3 %}<div class="alert alert-danger">{% endif %}
        {{ m[1] }}</div>
    {% endfor %}{% endif %}

        {% if viewuser.FAisVET %}
            {% if viewuser != user %} <h2>Situation veterinaire : {{ viewuser.FAname }}</h2>{% endif %}

            <h2>{% if visitmode == "planned" %}Visites prevues a la clinique{% else %}Historique des visites{% endif %}</h2>
            {% if vvisits %}
                <form action="/vet" method="POST">
                {% for v in vvisits %}
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-sm-3">
                            <input class="form-check-input" type="checkbox" name="re_{{v.id}}" id="re_{{v.id}}">
                            <label class="form-check-label" for="re_{{v.id}}">
                                {% if visitmode == "planned" %}{{ v.vdate.strftime("%d/%m/%y") }}, {% if v.doneby_id == FAids[4] %}{{ v.cat.temp_owner }}{% else %}{{ v.doneby.FAname }}{% endif %}
                                {% else %}{% if v.doneby_id == FAids[4] %}{{ v.cat.temp_owner }}{% else %}{{ v.doneby.FAname }} le {{ v.vdate.strftime("%d/%m/%y") }}{% endif %}{% endif %}
                            </label>
                        </div>
                        <div class="col-sm-9">
                            animal {% if v.cat.identif %}{{ v.cat.identif }}{% else %}non identifie{% endif %}
                            ({% if v.cat.name %}{{ v.cat.name }}{% else %}sans nom{% endif %} / <span id="rn_{{v.cat.id}}">{% if v.cat.regnum>0 %}{{v.cat.regnum}}{% else %}N{{v.cat.id}}{% endif %}</span>)
                            pour:
                        </div>
                    </div>
                    <div class="row"><div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            {% if v.vtype[0] != '-' %}- Primo vaccination{% endif %}
                            {% if v.vtype[1] != '-' %}- 1er rappel{% endif %}
                            {% if v.vtype[2] != '-' %}- 2eme rappel{% endif %}
                            {% if v.vtype[3] != '-' %}- Stérilisation/Castration{% endif %}
                            {% if v.vtype[4] != '-' %}- Identification{% endif %}
                            {% if v.vtype[5] != '-' %}- Test FIV/FelV{% endif %}
                            {% if v.vtype[6] != '-' %}- Soins / autre{% endif %}
                            {% if v.vtype[7] != '-' %}- Rappel annuel{% endif %}
                        </div>
                    </div>
                    {% if v.comments %}<div class="row"><div class="col-sm-1"></div><div class="col-sm-11">Commentaires: {{ v.comments }}</div></div>{% endif %}
                {% endfor %}
                <hr>
                {% if visitmode == "planned" %}<div class="row">
                    <div class="col-sm-3">
                        <button class="btn btn-secondary" style="white-space: normal;" type="submit" name="action" value="fa_vetbon">Imprimer un bon pour les visites selectionnees</button>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-secondary" style="white-space: normal;" type="submit" name="action" value="adm_vbver">Verifier le contenu du QRcode de bon veterinaire colle ci-contre</button>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="vb_qrcode" id="iR" style="width: 100%">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <button class="btn btn-secondary" style="white-space: normal;" type="submit" name="action" value="fa_vetmv">Indiquer que les visites selectionnees ont ete effectuees a la date prevue</button>
                    </div>
                    <div class="col-sm-3"><button class="btn btn-secondary" style="white-space: normal;" type="submit" name="action" value="fa_vetmvd">Indiquer que les visites selectionnees ont ete effectuees a la date indiquee ci-contre</button></div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="input-group datepick">
                                <input type="text" class="form-control" name="c_vdate" id="c_vdate" placeholder="aujourd'hui">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}<div class="row">
                    <div class="col-sm-3">
                        <button class="btn btn-secondary" style="white-space: normal;" type="submit" name="action" value="fa_vetbon">Reimprimer le bon pour les visites selectionnees</button>
                    </div>
                </div>{% endif %}
                </form>
            {% else %}
                <div class="row"><div class="col-sm-12">Aucune visite enregistree</div></div>
            {% endif %}
        {% elif viewuser.FAisREF %}
            {% set ns=namespace(curcage="",curroom="") %}
            {% if viewuser != user %} <h2>{% if viewuser.FAisFA %}Situation FA : {% endif %}{{ viewuser.FAname }}</h2>{% endif %}

            <h2>Chats au refuge</h2>
            {% if cats %}<p><a href="#" onClick="showHideAllDescs();">Montrer/cacher toutes les commentaires</a></p>{% endif %}
            {% for cat in cats %}
                {% if ns.curroom != cat.temp_owner[0] %}
                    {% set ns.curroom = cat.temp_owner[0] %}
                    {% if ns.curroom == "A" %}<h3>Cage non definie</h3>{% endif %}
                    {% if ns.curroom == "B" %}<h3>Maternite</h3>{% endif %}
                    {% if ns.curroom == "G" %}<h3>Grande piece</h3>{% endif %}
                    {% if ns.curroom == "P" %}<h3>Petite piece</h3>{% endif %}
                {% endif %}
                {% if ns.curcage != cat.temp_owner and ns.curroom != "A" %}
                    <h4>Cage {{ cat.temp_owner[1:] }}</h4>
                    {% set ns.curcage = cat.temp_owner %}
                {% endif %}
                <form action="/cat" method="POST"><input type="hidden" name="catid" value="{{cat.id}}">
                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-default btn-sm" type="submit" name="action" value="fa_viewcat"><strong><span id="rn_{{cat.id}}">{% if cat.regnum>0 %}{{cat.regnum}}{% else %}N{{cat.id}}{% endif %}</span></strong></button>
                    </div>
                    <div class="col-sm-2">{{ cat.identif }}</div>
                    <div class="col-sm-4">
                        <a href="#" onClick="showHide('desc_{{cat.id}}');"><b>{% if cat.name %}{{ cat.name }}{% else %}<span class="bg-warning">sans nom</span>{% endif %}</b></a>
                        ({% if cat.sex %}{{ tabsex[cat.sex] }}{% else %}<span class="bg-warning">??sexe??</span>{% endif %},
                        {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}<span class="bg-warning">??âge??</span>{% endif %},
                        {% if cat.color %}{{ tabcol[cat.color] }}{% else %}<span class="bg-warning">??couleur??</span>{% endif %}{{ tabhair[cat.longhair] }})</div>
                    <div class="col-sm-1"><p style="font-family:monospace;">{{ cat.vetshort }}</p></div>
                    <div class="col-sm-2">{% if cat.adoptable %}<span class="bg-success">Adoptable</span>{% else %}Non adoptable{% endif %}</div>
                </div>
                <div class="row" style="display: none;" id="desc_{{cat.id}}">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11"><p class="small">{{ cat.comments }}</p></div>
                </div>
                </form>
            {% else %}
                <div class="row"><div class="col-sm-12">Aucun</div></div>
            {% endfor %}
        {% elif viewuser.FAisFA or viewuser.FAisAD or viewuser.FAisDCD or viewuser.FAisHIST %}
            {% if viewuser != user %} <h2>{% if viewuser.FAisFA %}Situation FA : {% endif %}{{ viewuser.FAname }}</h2>{% endif %}

            {% if viewuser.FAisFA %}<h2>Chats detenus</h2>{% endif %}
            {% if cats %}<p><a href="#" onClick="showHideAllDescs();">Montrer/cacher toutes les commentaires</a></p>{% endif %}
            {% for cat in cats %}
                <form action="/cat" method="POST"><input type="hidden" name="catid" value="{{cat.id}}">
                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-default btn-sm" type="submit" name="action" value="fa_viewcat"><strong><span id="rn_{{cat.id}}">{% if cat.regnum>0 %}{{cat.regnum}}{% else %}N{{cat.id}}{% endif %}</span></strong></button>
                    </div>
                    <div class="col-sm-2">{{ cat.identif }}</div>
                    <div class="col-sm-4">
                        <a href="#" onClick="showHide('desc_{{cat.id}}');"><b>{% if cat.name %}{{ cat.name }}{% else %}<span class="bg-warning">sans nom</span>{% endif %}</b></a>
                        ({% if cat.sex %}{{ tabsex[cat.sex] }}{% else %}<span class="bg-warning">??sexe??</span>{% endif %},
                        {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}<span class="bg-warning">??âge??</span>{% endif %},
                        {% if cat.color %}{{ tabcol[cat.color] }}{% else %}<span class="bg-warning">??couleur??</span>{% endif %}{{ tabhair[cat.longhair] }})</div>
                    <div class="col-sm-1"><p style="font-family:monospace;">{{ cat.vetshort }}</p></div>
                    {% if cat.owner_id == FAids[4] %}<div class="col-sm-2">
                        {{ cat.temp_owner }}
                    </div>{% endif %}
                    {% if viewuser.FAisHIST %}
                    <div class="col-sm-4">
                        Sortie: {{ cat.lastop.strftime("%d/%m/%y") }}
                    </div>
                    {% else %}
                    <div class="col-sm-2">{% if cat.adoptable %}<span class="bg-success">Adoptable</span>{% else %}Non adoptable{% endif %}</div>
                    {% endif %}
                </div>
                <div class="row" style="display: none;" id="desc_{{cat.id}}">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11"><p class="small">{{ cat.comments }}</p></div>
                </div>
                </form>
                {% if (viewuser.FAisAD or viewuser.FAisDCD or viewuser.FAisHIST) and user.FAisADM %}
                    <form action="/fa" method="POST"><input type="hidden" name="catid" value="{{cat.id}}">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            {% if viewuser.FAisAD %}<button type="submit" name="action" value="adm_histcat">Confirmer l'adoption et déplacer le chat dans l'historique</button>{% endif %}
                            {% if viewuser.FAisDCD %}<button type="submit" name="action" value="adm_histcat">Confirmer le décès et déplacer le chat dans l'historique</button>{% endif %}
                            {% if viewuser.FAisHIST %}<button type="submit" name="action" value="adm_deletecat">EFFACER LE CHAT DU SYSTEME (ATTENTION: IRREVERSIBLE)</button>{% endif %}
                        </div>
                    </div>
                    </form>
                {% endif %}
            {% else %}
                <div class="row"><div class="col-sm-12">Aucun</div></div>
            {% endfor %}
        {% else %}
            <div class="row"><div class="col-sm-12">Choisir une action avec le menu</div></div>
        {% endif %}

        {% include 'bottom.html' %}
     </div><!-- /.container -->
</body>
</html>
