<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="nav navbar-brand" href="/self">{{ user.FAid }} ({{ user.FAname }})</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.menuFA() %}<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Famille</a>
                    <ul class="dropdown-menu"><form class="form-inline" action="/vet" method="POST">
                        <li><button class="dropdown-item" type="submit" name="action" value="fa_catlist">Chats detenus</button></li>
                        <li><button class="dropdown-item" type="submit" name="action" value="fa_vetplan">Visites vétérinaires</button></li>
                        <li><button class="dropdown-item" type="submit" name="action" value="fa_vetreg">Registre des Soins</button></li>
                    </form></ul>
                </li>{% endif %}
                {% if user.menuVET() %}<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Vétérinaire</a>
                    <ul class="dropdown-menu"><form class="form-inline" action="/vet" method="POST">
                        <li><button class="dropdown-item" type="submit" name="action" value="vet_vilist">Visites prevues</button></li>
                        <li><button class="dropdown-item" type="submit" name="action" value="vet_vihist">Historique des visites</button></li>
                    </form></ul>
                </li>{% endif %}
                {% if user.menuRFA() %}<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Réfèrent</a>
                    <ul class="dropdown-menu">
                        {% if user.hasReferent() %}<form class="form-inline" action="/list" method="POST">
                        <li><button class="dropdown-item" type="submit" name="action" value="sv_viewFAresp">FA sous ma responsabilité</button></li>
                        </form>{% endif %}
                        {% if user.hasRefuge() %}<form class="form-inline" action="/fa" method="POST"><input type="hidden" name="action" value="sv_fastate">
                            <li><button class="dropdown-item" name="FAspec" value="ref">Chats au refuge</button></li>
                        </form>{% endif %}
                        {% if user.hasAdDcdRs() or user.hasHist() or user.hasReferentFAtemp() or user.hasSuperviseur() %}<form class="form-inline" action="/list" method="POST">
                            <li><button class="dropdown-item" type="submit" name="action" value="sv_viewFA">Vision d'ensemble</button></li>
                        </form>{% endif %}
                        {% if user.hasSearch() %}<form class="form-inline" action="/search" method="GET">
                            <li><button class="dropdown-item" type="submit">Recherche de chats</button></li>
                        </form>{% endif %}
                        {% if user.hasAddUnreg() %}<form class="form-inline" action="/cat" method="POST">
                            <li><button class="dropdown-item" type="submit" name="action" value="adm_newcat">Arrivee d'un chat</button></li>
                        </form>{% endif %}
                    </ul>
                </li>{% endif %}
                {% if user.menuPROC() %}<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Procedures</a>
                    <ul class="dropdown-menu">
                        {% if user.hasBonSteril() %}<form class="form-inline" action="/proc" method="POST">
                        <li><a class="dropdown-item" href="/procbsc">Bon de stérilisation</a></li>
                        </form>{% endif %}
                        {% if user.hasPriseEnCharge() %}<form class="form-inline" action="/proc" method="POST">
                        <li><a class="dropdown-item" href="/procpec">Prise en charge</a></li>
                        </form>{% endif %}
                    </ul>
                </li>{% endif %}
                {% if user.menuCOMPTA() %}<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Comptabilité</a>
                    <ul class="dropdown-menu"><form class="form-inline" action="/factures" method="GET">
                        <li><button class="dropdown-item" type="submit">Factures</button></li>
                    </form></ul>
                </li>{% endif %}
                {% if user.menuADMIN() %}<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administrateur</a>
                    <ul class="dropdown-menu">
                        {% if user.hasUsers() %}<form class="form-inline" action="/user" method="POST">
                            <li><button class="dropdown-item" type="submit" name="action" value="adm_listusers">Gestion utilisateurs</button></li>
                        </form>{% endif %}
                        {% if user.hasAdmin() %}<form class="form-inline" action="/admin" method="POST">
                            <li><button class="dropdown-item" type="submit" name="action" value="adm_admin">Operations systeme</button></li>
                        </form>{% endif %}
                    </ul>
                </li>{% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-link" href="/help">Aide</a></li>
            {% if current_user.is_authenticated %}
            <li><a class="nav-link" href="{{ url_for('logout') }}">Log out</a></li>
            {% else %}
            <li><a class="nav-link" href="{{ url_for('login') }}">Log in</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
