<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
               padding: 4px;
            }
        </style>
    </head>
    <script>
{% include 'functions.html' %}
        window.onload=function() {
            var i;

            var regnums = document.querySelectorAll('[id^="rn_"]');
            for (i = 0; i < regnums.length; ++i) {
                regnum = parseInt(regnums[i].innerHTML);
                regnums[i].innerHTML = readableRegistre(regnum);
            }
        }
    </script>
<body>
    <h3>Association ERA - FA {% if otheruser %}{{otheruser.FAname}}{% else %}{{user.FAname}}{% endif %}</h3>
    <h2>Registre des soins</h2>
    {% if visits %}
    <table>
        <tr>
            <th>Date</th>
            <th>Espèce</th>
            <th>Sexe</th>
            <th>Identification</th>
            <th>Description</th>
            <th>Naissance</th>
            <th>Vétérinaire</th>
            <th>Renseignements Sanitaires</th>
        </tr>
        {% for v in visits %}
        <tr>
            <td>{{v.vdate.strftime("%d/%m/%y")}}</td>
            <td>Chat</td>
            <td>{{ tabsex[v.cat.sex] }}</td>
            <td>{% if v.cat.identif %}{{v.cat.identif}}{% elif v.cat.name %}{{ v.cat.name }}{% else %}<span id="rn_{{v.cat.id}}">{{v.cat.regnum}}</span>{% endif %}</td>
            <td>{{ tabcol[v.cat.color] }}{{ tabhair[v.cat.longhair] }}</td>
            <td>{% if v.cat.birthdate %}{{ v.cat.birthdate.strftime("%d/%m/%y") }}{% endif %}</td>
            <td>{{ v.vet.FAname }}</td>
            <td>{% if v.vtype[0] != '-' %}- Primo vaccination{% endif %}
                {% if v.vtype[1] != '-' %}- 1er rappel{% endif %}
                {% if v.vtype[2] != '-' %}- 2eme rappel{% endif %}
                {% if v.vtype[3] != '-' %}- {% if v.cat.sex == 2 %}Castration{% else %}Stérilisation{% endif %}{% endif %}
                {% if v.vtype[4] != '-' %}- Identification{% endif %}
                {% if v.vtype[5] != '-' %}- Test FIV/FeLV{% endif %}
                {% if v.vtype[7] != '-' %}- Rappel annuel{% endif %}
                {% if v.comments %}- {{ v.comments }}{% endif %}
                </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Aucune visite effectuée</p>
    {% endif %}
</body>
</html>
