<!doctype html>
<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </head>
    <script>
{% include 'functions.html' %}
        window.onload=function() {
            fixAllDates();
            //fixAllRegnums();
        }
        function enableButtons()
        {
            var i, enbts = false;
            var cbx = document.querySelectorAll('[id^="re_"]');
            for (i = 0; i < cbx.length; ++i) {
                if (cbx[i].checked) {
                    enbts = true;
                    break;
                }
            }

            var btns = document.querySelectorAll('[id^="gen_"]');
            for (i = 0; i < btns.length; ++i) {
                btns[i].disabled = !enbts;
            }
        }
function toggleTooltip(icon) {
    const tooltip = icon.nextElementSibling;
    const isCurrentlyOpen = tooltip.classList.contains('show');

    // Close all tooltips first
    document.querySelectorAll('.tooltip.show').forEach(t => t.classList.remove('show'));

    // If this tooltip wasn't open, open it now
    if (!isCurrentlyOpen) {
        tooltip.classList.add('show');
    }
}

// Optional: close tooltip when clicking outside
document.addEventListener('click', function(event) {
    if (!event.target.classList.contains('help-icon')) {
        document.querySelectorAll('.tooltip.show').forEach(t => t.classList.remove('show'));
    }
});
    </script>
    <style>
   hr {
       border-top: 1px dotted #000000 !important;
       margin-bottom:10px !important;
       margin-top:5px !important;
   }
.help-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 5px;
    max-width: 500px;
    white-space: normal;
    word-wrap: break-word;
    z-index: 1000;
}

.tooltip.show {
    display: inline-block;
}
    </style><body>
{% include 'navbar.html' %}

    <div class="container">
{% include '_messages.html' %}

        <h2>Recherche de chats</h2>

        <p>Le résultat est la liste de tous les chats qui <b>vérifient au moins un des critères</b>.</p>
        <p>(Dernier import: <span id="rn_1">{{ lastreg }}</span> le {{ lastdate.strftime("%Y-%m-%d") }}, dernier synch {{ syncdate.strftime("%Y-%m-%d") }})</p>

        <form action="/search" method="POST">
            <div class="row">
                <div class="col-sm-2">Registre:</div>
                <div class="col-sm-3"><input type="text" name="src_regnum"{% if defval and defval[0] %} value="{{defval[0]}}"{% endif %}>
                <span class="help-icon" onclick="toggleTooltip(this)">?</span>
                <span class="tooltip">Numero de registre ERA (nnn-yy: nnn=numero du chat et yy=annee),
                    nnn seul donne les chats avec ce numero independemment de l'annee.<br>
                    Pour les chat non-enregistres, Nxxxx avec xxxx=numero interne du site FA,
                    si on indique 'N' sans numero le resultat sont tous les chats non-enregistres.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">Nom:</div>
                <div class="col-sm-3"><input type="text" name="src_name"{% if defval and defval[1] %} value="{{defval[1]}}"{% endif %}>
                <span class="help-icon" onclick="toggleTooltip(this)">?</span>
                <span class="tooltip">Cherche tous les noms qui contiennent le texte indique
                    et non pas une correspondence exacte.  Plusieurs criteres peuvent etre indiques, separes par des ',' (virgules).</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">Identification:</div>
                <div class="col-sm-4"><input type="text" name="src_id"{% if defval and defval[2] %} value="{{defval[2]}}"{% endif %}>
                <span class="help-icon" onclick="toggleTooltip(this)">?</span>
                <span class="tooltip">Cherche tous les identifications qui contiennent la sequence de chiffres indiquee
                    et non pas une correspondence exacte.<br>
                    En general, avec les 6 dernieres chiffres on a le bon resultat.</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">Nom FA:</div>
                <div class="col-sm-4"><input type="text" name="src_faname"{% if defval and defval[3] %} value="{{defval[3]}}"{% endif %}>
                <span class="help-icon" onclick="toggleTooltip(this)">?</span>
                <span class="tooltip">Cherche tous les chats dans des FA dont le nom contient le texte indique.<br>
                    "refuge" donne la liste des chats au refuge.<br>
                    "mat" "grande" "petite" donnent la liste des chats dans les pieces du refuge<br>
                    Il est possible de chercher des chats dans une cage specifique du refuge
                    en utilisant l'identifiant de l'emplacement de la cage:<br>
                    AXX = cage non specifiee<br>
                    B01-B06 = cages de la maternite<br>
                    G07-G22 = cages de la grande piece<br>
                    P23-P34 = cages de la petite piece.</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-2"><button class="btn btn-secondary mx-1 w-100" type="submit" name="action" value="search-info">Rechercher (information)</button></div>
                {% if user.hasBonVeto() %}<div class="col-sm-2"><button class="btn btn-secondary mx-1 w-100" type="submit" name="action" value="search-bv">Rechercher<br>(bon vetetrinaire)</button></div>{% endif %}
                {% if user.hasContratFA() %}<div class="col-sm-2"><button class="btn btn-secondary mx-1 w-100" type="submit" name="action" value="search-cfa">Rechercher<br>(contrat FA)</button></div>{% endif %}
            </div>
        </form>
        {% if listtitle %}<hr>
            <h2>{{ listtitle }}</h2>
            {% if bvcatlist and user.hasBonVeto() %}
                <form action="/vet" method="POST">
                {% for cat in bvcatlist %}
                    <div class="row">
                        <div class="col-sm-1">
                            <input class="form-check-input border-black" type="checkbox" onclick="enableButtons();" name="re_{{cat.id}}" id="re_{{cat.id}}">
                                <label class="form-check-label" for="re_{{cat.id}}">
                                    <span id="rn_{{cat.id}}">{{ cat.regStr() }}</span>
                                </label>
                        </div>
                        <div class="col-sm-2">{{ cat.identif }}</div>
                        <div class="col-sm-4">
                            <b>{% if cat.name %}{{ cat.name }}{% else %}<span class="bg-warning">sans nom</span>{% endif %}</b>
                            ({% if cat.sex %}{{ tabsex[cat.sex] }}{% else %}<span class="bg-warning">??sexe??</span>{% endif %},
                            {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}<span class="bg-warning">??âge??</span>{% endif %},
                            {% if cat.color %}{{ tabcol[cat.color] }}{% else %}<span class="bg-warning">??couleur??</span>{% endif %}{{ tabhair[cat.longhair] }})
                        </div>
                        <div class="col-sm-1"><p class="text-nowrap" style="font-family:monospace;">{{ cat.vetshort }}</p></div>
                        <div class="col-sm-2">{{ cat.nameFA() }}</div>
                    </div>
                {% endfor %}
                <hr>
                <div class="row form-row align-items-baseline">
                    <div class="col-sm-3">Generer le bon pour une visite le</div>
                    <div class="col-sm-2"><input type="date" class="form-control border border-dark" name="visit_date" id="visit_date"></div>
                    <div class="col-sm-2">(vide = aujourd'hui)</div>
                </div>
                <div class="row form-group align-items-baseline my-1">
                    <div class="col-sm-12">
                    <input class="form-check-input border-black" type="checkbox" name="visit_pv" id="visit_pv">
                        <label class="form-check-label" for="visit_pv">Primo vaccination&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-check-input border-black" type="checkbox" name="visit_r1" id="visit_r1">
                        <label class="form-check-label">1er rappel&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-check-input border-black" type="checkbox" name="visit_rr" id="visit_rr">
                        <label class="form-check-label">Rappel annuel&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-check-input border-black" type="checkbox" name="visit_id" id="visit_id">
                        <label class="form-check-label">Identification&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-check-input border-black" type="checkbox" name="visit_tf" id="visit_tf">
                        <label class="form-check-label">Test FIV/FelV&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-check-input border-black" type="checkbox" name="visit_sc" id="visit_sc">
                        <label class="form-check-label">Stérilisation/Castration&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-check-input border-black" type="checkbox" name="visit_gen" id="visit_gen">
                        <label class="form-check-label">Soins / autre&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-check-input border-black" type="checkbox" name="visit_ap" id="visit_ap">
                        <label class="form-check-label">Déparasitage</label>
                     </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                    <textarea class="form-control border border-dark" name="visit_comments" placeholder="Soins specifiques" rows="5"></textarea>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-2">
                        <button class="btn btn-secondary mx-1" type="submit" name="action" id="gen_bon" value="fa_vetbonfast" disabled>Generer le bon</button>
                    </div>
                    <div class="col-sm-10">Remplacer la FA par : <input class="border border-dark" type="text" name="visit_faname"> (nom de l'adoptant pour une visite post-adoption)</div>
                </div>
                </form>
            {% elif cfacatlist and user.hasContratFA() %}
                <form id="inpform" name="inpform" action="/proc" method="POST">
                {% for cat in cfacatlist %}
                    <div class="row">
                        <div class="col-sm-1">
                            <input class="form-check-input border-black" type="checkbox" onclick="enableButtons();" name="re_{{cat.id}}" id="re_{{cat.id}}">
                                <label class="form-check-label" for="re_{{cat.id}}">
                                    <span id="rn_{{cat.id}}">{{ cat.regStr() }}</span>
                                </label>
                        </div>
                        <div class="col-sm-2">{{ cat.identif }}</div>
                        <div class="col-sm-4">
                            <b>{% if cat.name %}{{ cat.name }}{% else %}<span class="bg-warning">sans nom</span>{% endif %}</b>
                            ({% if cat.sex %}{{ tabsex[cat.sex] }}{% else %}<span class="bg-warning">??sexe??</span>{% endif %},
                            {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}<span class="bg-warning">??âge??</span>{% endif %},
                            {% if cat.color %}{{ tabcol[cat.color] }}{% else %}<span class="bg-warning">??couleur??</span>{% endif %}{{ tabhair[cat.longhair] }})
                        </div>
                        <div class="col-sm-1"><p class="text-nowrap" style="font-family:monospace;">{{ cat.vetshort }}</p></div>
                        <div class="col-sm-2">{{ cat.nameFA() }}</div>
                    </div>
                {% endfor %}
                <hr>
                <h3 class="mt-2 pt-2 border-2 border-top border-black">FAMILLE D'ACCUEIL</h3>
                <div class="row">
                    <p>Si l'individu est déjà enregistré dans Refugilys (ou si on décide de l'enregistrer pour déjà avoir l'info dans le futur), on peut remplir
                    automatiquement avec "Copier de Refugilys" dans la page individu et "Coller dans siteFA" ici.</p>
                </div>
                <div class="row form-group mt-2">
                    <div class="col-sm-2">
                        <label class="control-label" for="ind_id">Id:</label>
                        <input type="text" class="form-control border border-dark" id="ind_id" name="ind_id" type="text">
                    </div>
                    <div class="col-sm-5">
                        <label class="control-label" for="ind_nom">Nom:</label>
                        <input type="text" class="form-control border border-dark" id="ind_nom" name="ind_nom" type="text" required="required">
                    </div>
                    <div class="col-sm-5">
                        <label class="control-label" for="ind_prenom">Prenom:</label>
                        <input type="text" class="form-control border border-dark" id="ind_prenom" name="ind_prenom" type="text" required="required">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <label class="control-label" for="ind_adresse">Adresse:</label>
                        <input type="text" class="form-control border border-dark" id="ind_adresse" name="ind_adresse" type="text" required="required">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="ind_cp">CP:</label>
                        <input type="text" class="form-control border border-dark" id="ind_cp" name="ind_cp" type="text" required="required">
                    </div>
                    <div class="col-sm-7">
                        <label class="control-label" for="ind_ville">Ville:</label>
                        <input type="text" class="form-control border border-dark" id="ind_ville" name="ind_ville" type="text" required="required">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="ind_tel">Tel.:</label>
                        <input type="text" class="form-control border border-dark" id="ind_tel" name="ind_tel" type="text" required="required">
                    </div>
                    <div class="col-sm-7">
                        <label class="control-label" for="ind_email">E-Mail:</label>
                        <input type="text" class="form-control border border-dark" id="ind_email" name="ind_email" type="text" required="required">
                    </div>
                </div>
                <div class="row form-row align-items-baseline mt-2">
                    <div class="col-sm-3">Date de depart des chats en FA : </div>
                    <div class="col-sm-2"><input type="date" class="form-control border border-dark" name="cfa_date" id="cfa_date"></div>
                    <div class="col-sm-2">(vide = aujourd'hui)</div>
                </div>
                 <div class="row mt-2">
                    <div class="col-sm-2">
                        <button class="btn btn-secondary mx-1" type="submit" name="action" id="gen_cfa" value="proc_cfa" disabled>Generer le contrat</button>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-secondary mx-1" type="submit" name="action" id="gen_cfas" value="proc_cfasave" disabled>Generer le contrat et indiquer les chats dans la FA</button>
                    </div>
                </div>
                </form>
            {% else %}
                <p><a href="#" onClick="showHideAllDescs();">Montrer/cacher toutes les commentaires</a></p>
                {% for cat in catlist %}
                <div class="row">
                     <div class="col-sm-1">
                        <form action="/cat" method="POST">
                            <input type="hidden" name="catid" value="{{cat.id}}">
                            <button class="btn btn-outline-dark text-nowrap" type="submit" name="action" value="fa_viewcat"><strong><span id="rn_{{cat.id}}">{{ cat.regStr() }}</span></strong></button>
                        </form>
                    </div>
                    <div class="col-sm-2">{{ cat.identif }}</div>
                    <div class="col-sm-4">
                        <a href="#" onClick="showHide('desc_{{cat.id}}');"><b>{% if cat.name %}{{ cat.name }}{% else %}sans nom{% endif %}</b></a>
                        ({{ tabsex[cat.sex] }},
                        {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}??âge??{% endif %},
                        {{ tabcol[cat.color] }}{{ tabhair[cat.longhair] }})</div>
                    <div class="col-sm-1"><p class="text-nowrap" style="font-family:monospace;">{{ cat.vetshort }}</p></div>
                    <div class="col-sm-2">
                        {{ cat.nameFA() }}
                    </div>
                    {% if not adoptonly %}
                        <div class="col-sm-2">{% if cat.adoptable %}<span class="bg-success-subtle">Adoptable</span>{% else %}Non adoptable{% endif %}</div>
                    {% endif %}
                </div>
                <div class="row" style="display: none;" id="desc_{{cat.id}}">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11"><p class="small">{{ cat.comments }}</p></div>
                </div>
                {% else %}
                    Aucun chat trouvé.
                {% endfor %}
            {% endif %}
        {% endif %}

        {% include 'bottom.html' %}
     </div><!-- /.container -->
</body>
</html>
