<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </head>
    <script>
{% include 'functions.html' %}
        window.onload=function() {
            fixAllDates();
            //fixAllRegnums();
        }
function toggleTooltip(icon) {
    const tooltip = icon.nextElementSibling;
    const isCurrentlyOpen = tooltip.classList.contains('show');

    // Close all tooltips first
    document.querySelectorAll('.tooltip.show').forEach(t => t.classList.remove('show'));

    // If this tooltip wasn't open, open it now
    if (!isCurrentlyOpen) {
        tooltip.classList.add('show');
    }
}

// Optional: close tooltip when clicking outside
document.addEventListener('click', function(event) {
    if (!event.target.classList.contains('help-icon')) {
        document.querySelectorAll('.tooltip.show').forEach(t => t.classList.remove('show'));
    }
});
    </script>
    <style>
   hr {
       border-top: 1px dotted #000000 !important;
       margin-bottom:10px !important;
       margin-top:5px !important;
   }
.help-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 5px;
    max-width: 500px;
    white-space: normal;
    word-wrap: break-word;
    z-index: 1000;
}

.tooltip.show {
    display: inline-block;
}
    </style><body>
{% include 'navbar.html' %}

    <div class="container">
    {% if devsite %}<div class="row">
	<div class="alert alert-danger">ATTENTION: ce site est la version en développement du logiciel FA, les informations sur les chats de ce site ne correspondent
        pas à la réalité.  Le site officiel est
        <a href="https://erafa.pythonanywhere.com/fa">https://erafa.pythonanywhere.com/fa</a></div>
    </div>{% endif %}
    {% if msg %}{% for m in  msg %}
        {% if m[0] == 0 %}<div class="alert alert-success">{% endif %}
        {% if m[0] == 1 %}<div class="alert alert-info">{% endif %}
        {% if m[0] == 2 %}<div class="alert alert-warning">{% endif %}
        {% if m[0] == 3 %}<div class="alert alert-danger">{% endif %}
        {{ m[1] }}</div>
    {% endfor %}{% endif %}

        <h2>Recherche de chats</h2>

        <p>Le résultat est la liste de tous les chats qui <b>vérifient au moins un des critères</b>.</p>
        <p>(Dernier import: <span id="rn_1">{{ lastreg }}</span> le {{ lastdate.strftime("%Y-%m-%d") }}, dernier synch {{ syncdate.strftime("%Y-%m-%d") }})</p>

        <form action="/search" method="POST">
            <div class="row">
                <div class="col-sm-2">Registre:</div>
                <div class="col-sm-3"><input type="text" name="src_regnum"{% if defval and defval[0] %} value="{{defval[0]}}"{% endif %}>
                <span class="help-icon" onclick="toggleTooltip(this)">?</span>
                <span class="tooltip">Numero de registre ERA (nnn-yy: nnn=numero du chat et yy=annee),
                    nnn seul donne les chats avec ce numero independemment de l'annee.<br>
                    Pour les chat non-enregistres, Nxxxx avec xxxx=numero interne du site FA,
                    si on indique 'N' sans numero le resultat sont tous les chats non-enregistres.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">Nom:</div>
                <div class="col-sm-3"><input type="text" name="src_name"{% if defval and defval[1] %} value="{{defval[1]}}"{% endif %}>
                <span class="help-icon" onclick="toggleTooltip(this)">?</span>
                <span class="tooltip">Cherche tous les noms qui contiennent le texte indique
                    et non pas une correspondence exacte.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">Identification:</div>
                <div class="col-sm-4"><input type="text" name="src_id"{% if defval and defval[2] %} value="{{defval[2]}}"{% endif %}>
                <span class="help-icon" onclick="toggleTooltip(this)">?</span>
                <span class="tooltip">Cherche tous les identifications qui contiennent la sequence de chiffres indiquee
                    et non pas une correspondence exacte.<br>
                    En general, avec les 6 dernieres chiffres on a le bon resultat.</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">Nom FA:</div>
                <div class="col-sm-4"><input type="text" name="src_faname"{% if defval and defval[3] %} value="{{defval[3]}}"{% endif %}>
                <span class="help-icon" onclick="toggleTooltip(this)">?</span>
                <span class="tooltip">Cherche tous les chats dans des FA dont le nom contient le texte indique.<br>
                    "refuge" donne la liste des chats au refuge.<br>
                    Il est possible de chercher des chats dans une cage specifique du refuge
                    en utilisant l'identifiant de l'emplacement de la cage:<br>
                    AXX = cage non specifiee<br>
                    B01-B06 = cages de la maternite<br>
                    G07-G22 = cages de la grande piece<br>
                    P23-P34 = cages de la petite piece.</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-2"><button class="btn btn-secondary mx-1" type="submit" name="action" value="adm_search">Rechercher (information)</button></div>
                {% if user.FAisADM or user.FAisOV %}<div class="col-sm-2"><button class="btn btn-secondary mx-1" type="submit" name="action" value="adm_searchs">Rechercher (selection)</button></div>
                <div class="col-sm-6">Utiliser "information" pour acceder aux informations des chats et<br>"selection" pour generer des bons veto relatifs aux chats.</div>{% endif %}
            </div>
        </form>
        {% if listtitle %}<hr>
            <h2>{{ listtitle }}</h2>
            {% if scatlist and (user.FAisADM or user.FAisOV) %}
                <form action="/vet" method="POST">
                {% for cat in scatlist %}
                    <div class="row">
                        <div class="col-sm-1">
                            <input class="form-check-input border-black" type="checkbox" name="re_{{cat.id}}" id="re_{{cat.id}}">
                                <label class="form-check-label" for="re_{{cat.id}}">
                                    <span id="rn_{{cat.id}}">{{ cat.regStr() }}</span>
                                </label>
                        </div>
                        <div class="col-sm-2">{{ cat.identif }}</div>
                        <div class="col-sm-4">
                            <b>{% if cat.name %}{{ cat.name }}{% else %}<span class="bg-warning">sans nom</span>{% endif %}</b>
                            ({% if cat.sex %}{{ tabsex[cat.sex] }}{% else %}<span class="bg-warning">??sexe??</span>{% endif %},
                            {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}<span class="bg-warning">??âge??</span>{% endif %},
                            {% if cat.color %}{{ tabcol[cat.color] }}{% else %}<span class="bg-warning">??couleur??</span>{% endif %}{{ tabhair[cat.longhair] }})
                        </div>
                        <div class="col-sm-1"><p class="text-nowrap" style="font-family:monospace;">{{ cat.vetshort }}</p></div>
                        {% if cat.owner_id == FAids[4] %}[{{ cat.temp_owner }}]{% else %}{{ cat.owner.FAname }}{% endif %}
                    </div>
                {% endfor %}
                <hr>
                <div class="row form-group align-items-baseline">
                    <div class="col-sm-3">Generer le bon pour une visite le</div>
                    <div class="col-sm-2">
                        <input type="date" class="form-control border border-dark" name="visit_date" id="visit_date" placeholder="aujourd'hui">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                    <label class="checkbox-inline mx-2 border-black"><input type="checkbox" name="visit_pv">Primo vaccination</label>
                    <label class="checkbox-inline mx-2 border-black"><input type="checkbox" name="visit_r1">1er rappel</label>
                    <label class="checkbox-inline mx-2 border-black"><input type="checkbox" name="visit_rr">Rappel annuel</label>
                    <label class="checkbox-inline mx-2 border-black"><input type="checkbox" name="visit_id">Identification</label>
                    <label class="checkbox-inline mx-2 border-black"><input type="checkbox" name="visit_tf">Test FIV/FelV</label>
                    <label class="checkbox-inline mx-2 border-black"><input type="checkbox" name="visit_sc">Stérilisation/Castration</label>
                    <label class="checkbox-inline mx-2 border-black"><input type="checkbox" name="visit_gen">Soins / autre</label>
                    <label class="checkbox-inline mx-2 border-black"><input type="checkbox" name="visit_ap">Déparasitage</label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                    <textarea class="form-control border border-dark" name="visit_comments" placeholder="Soins specifiques" rows="5"></textarea>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-2">
                        <button class="btn btn-secondary mx-1" type="submit" name="action" value="fa_vetbonfast">Generer le bon</button>
                    </div>
                    <div class="col-sm-10">Remplacer la FA par : <input type="text" name="visit_faname"> (nom de l'adoptant pour une visite post-adoption)</div>
                </div>
                </form>
            {% else %}
                <p><a href="#" onClick="showHideAllDescs();">Montrer/cacher toutes les commentaires</a></p>
                {% for cat in catlist %}
                <div class="row">
                     <div class="col-sm-1">
                        <form action="/cat" method="POST">
                            <input type="hidden" name="catid" value="{{cat.id}}">
                            <button class="btn btn-outline-dark text-nowrap" type="submit" name="action" value="fa_viewcat"><strong><span id="rn_{{cat.id}}">{{ cat.regStr() }}</span></strong></button>
                        </form>
                    </div>
                    <div class="col-sm-2">{{ cat.identif }}</div>
                    <div class="col-sm-4">
                        <a href="#" onClick="showHide('desc_{{cat.id}}');"><b>{% if cat.name %}{{ cat.name }}{% else %}sans nom{% endif %}</b></a>
                        ({{ tabsex[cat.sex] }},
                        {% if cat.birthdate %}<span id="bd_{{cat.id}}">{{ cat.birthdate.strftime("%s") }}</span>{% else %}??âge??{% endif %},
                        {{ tabcol[cat.color] }}{{ tabhair[cat.longhair] }})</div>
                    <div class="col-sm-1"><p class="text-nowrap" style="font-family:monospace;">{{ cat.vetshort }}</p></div>
                    <div class="col-sm-2">
                        {% if cat.owner_id == FAids[4] %}[{{ cat.temp_owner }}]{% else %}{{ cat.owner.FAname }}{% endif %}
                    </div>
                    {% if not adoptonly %}
                        <div class="col-sm-2">{% if cat.adoptable %}<span class="bg-success-subtle">Adoptable</span>{% else %}Non adoptable{% endif %}</div>
                    {% endif %}
                </div>
                <div class="row" style="display: none;" id="desc_{{cat.id}}">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11"><p class="small">{{ cat.comments }}</p></div>
                </div>
                {% else %}
                    Aucun chat trouvé.
                {% endfor %}
            {% endif %}
        {% endif %}

        {% include 'bottom.html' %}
     </div><!-- /.container -->
</body>
</html>
