<html>
    <head>
        <title>Familles d'accueil ERA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </head>
    <script>
        function submitForm() {
            var x = document.forms["u_form"]["u_username"].value;
            if (!Boolean(x.trim())) {
                alert("Le nom d'utilisateur doit etre rempli");
                return false;
            }
            true;
        }
    </script>
<body>
    {% include 'navbar.html' %}

    <div class="container">
    {% if devsite %}<div class="row">
	<div class="alert alert-danger">ATTENTION: ce site est la version en developpement du logiciel FA, les informations sur les chats de ce site ne correspondent
        pas a la realite.  Le site officiel est
        <a href="https://fa.association-era.org/fa">https://fa.association-era.org/fa</a></div>
    </div>{% endif %}

        {% if falist %}
            {% if msg %}{% for m in  msg %}
                {% if m[0] == 0 %}<div class="alert alert-success">{% endif %}
                {% if m[0] == 1 %}<div class="alert alert-info">{% endif %}
                {% if m[0] == 2 %}<div class="alert alert-warning">{% endif %}
                {% if m[0] == 3 %}<div class="alert alert-danger">{% endif %}
                {{ m[1] }}</div>
            {% endfor %}{% endif %}

            <form action="/user" method="POST"><div class="row">
                <div class="col-sm-12"><button class="btn btn-secondary mx-1" name="action" value="adm_newuser">Nouveau utilisateur
                                      </button><button class="btn btn-secondary mx-1" name="action" value="adm_expusers">Exporter le tableau</button></div>
            </div></form>

            <h2>Utilisateurs definis</h2>
            <form action="/user" method="POST"><input type=hidden name="action" value="adm_edituser">
            <table style="width: 100%;">
            {% for fa in falist %}
                <tr>
                    <td rowspan="2"><button class="btn btn-outline-dark" name="FAid" value="{{fa.id}}">{{ fa.username }}</button></td>
                    <td>{% if fa.password_hash == 'nologin' %}<i>{{ fa.FAid }} ({{ fa.FAname }})</i>{% else %}{{ fa.FAid }} ({{ fa.FAname }}){% endif %}
                         <b>[{{ fa.usertypeStr() }}]</b></td>
                    <td>{% if fa.FAlastop %}Dernière activité: {{ fa.FAlastop.strftime("%d/%m/%Y %H:%M") }}{% endif %}</td>
                    <td>{% if rftab and fa.FAresp_id %}(resp. {{ rftab[fa.FAresp_id] }}){% endif %}</td>
                </tr>
                <tr>
                    <td colspan="3">({{ fa.privilegesStr() }})</td>
                </tr>
            {% endfor %}
            </table>
            </form>
        {% endif %}

        {% if fauser %}
        <form action="/user" id="u_form" method="POST">
        <input type="hidden" name="FAid" value="{{fauser.id}}">
        <div class="row form-group">
            <div class="col-sm-3">Utilisateur [{{ fauser.id }}]:</div>
            <div class="col-sm-3">
                {% if fauser.username %} <b>{{fauser.username}}</b>
                {% else %} <input type="text" name="u_username" placeholder="nom utilisateur"> {% endif %}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">Nom publique:</div>
            <div class="col-sm-3">
                {% if fauser.FAid %} <input type="text" name="u_pname" oninput="this.value = this.value.toUpperCase()" value="{{ fauser.FAid }}">
                {% else %} <input type="text" name="u_pname" oninput="this.value = this.value.toUpperCase()" placeholder="Nom FA"> {% endif %}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">Nom interne:</div>
            <div class="col-sm-3">
                {% if fauser.FAname %}<input type="text" name="u_iname" value="{{ fauser.FAname }}">
                {% else %}<input type="text" name="u_iname" value="" placeholder="Nom complet"> {% endif %}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">Adresse e-mail:</div>
            <div class="col-sm-3">
                {% if fauser.FAemail %} <input type="text" name="u_email" value="{{ fauser.FAemail }}">
                {% else %} <input type="text" name="u_email" placeholder="E-mail"> {% endif %}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">Type de compte:</div>
            <div class="col-sm-3">
                <select class="form-select border border-dark" name="u_type" id="u_type">
                {% for k in range(0,9) %}
                <option value="{{k}}" {% if k == fauser.usertype %} selected{% endif %}>{{ TabUserTypes[k] }}</option>{% endfor %}
                </select>
            </div>
            <div class="col-sm-3">Sous la responsabilite de:</div>
            <div class="col-sm-3">
                <select class="form-select border border-dark" name="u_resp" id="u_resp">
                <option value="0">Personne</option>
                {% for k,v in rftab.items() %}
                <option value="{{k}}" {% if k == fauser.FAresp_id %} selected{% endif %}>{{v}}</option>{% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">(l'indication "Sous la responsabilite de" n'est utile que dans le cas d'une FA sans droits d'acces additionnels)</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4"><b>Acces:</b></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasRFA"{% if fauser.hasReferent() %} checked{% endif %}>Gestion d'autres familles d'accueil</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasRFATEMP"{% if fauser.hasReferentFAtemp() %} checked{% endif %}>Gestion de familles d'accueil temporaires</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><input class="form-check-input border-dark" type="checkbox" name="u_hasREF"{% if fauser.hasRefuge() %} checked{% endif %}><label class="form-check-label">Acces aux chats du refuge</label></div>
            <div class="col-sm-4"><input class="form-check-input border-dark" type="checkbox" name="u_hasADR"{% if fauser.hasAdDcdRs() %} checked{% endif %}><label class="form-check-label">Acces aux AD/DCD/RS</label></div>
            <div class="col-sm-4"><input class="form-check-input border-dark" type="checkbox" name="u_hasHIST"{% if fauser.hasHist() %} checked{% endif %}><label class="form-check-label">Acces a l'historique</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasSUPER"{% if fauser.hasSuperviseur() %} checked{% endif %}>Superviseur (acces a tous les FA)</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasSEARCH"{% if fauser.hasSearch() %} checked{% endif %}>Recherche</label></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><b>Procedures:</b></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasPEC"{% if fauser.hasPriseEnCharge() %} checked{% endif %}>Prise en charge</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasBSC"{% if fauser.hasBonSteril() %} checked{% endif %}>Bon de sterilisation post-AD</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasADDCAT"{% if fauser.hasAddUnreg() %} checked{% endif %}>Rajouter un chat</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasBVETO"{% if fauser.hasBonVeto() %} checked{% endif %}>Generer des bons veterinaires</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasCFA"{% if fauser.hasContratFA() %} checked{% endif %}>Generer des contrats FA</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasCAD"{% if fauser.hasContratAD() %} checked{% endif %}>Generer des contrats d'adoption</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasMOVE"{% if fauser.hasMove() %} checked{% endif %}>Deplacer un chat</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasREGNUM"{% if fauser.hasRegNum() %} checked{% endif %}>Indiquer un numero de registre</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasRVETO"{% if fauser.hasRefugeVeto() %} checked{% endif %}>Gerer les visites veto du refuge</label></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><b>Comptabilite (factures):</b></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasCMSELF"{% if fauser.hasComptaSelf() %} checked{% endif %}>Acces a ses factures</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasCOMPTA"{% if fauser.hasCompta() %} checked{% endif %}>Acces a toutes les factures</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasCMMOD"{% if fauser.hasComptaMod() %} checked{% endif %}>Reglement des factures</label></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><b>Gestion du site et API:</b></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasUSERS"{% if fauser.hasUsers() %} checked{% endif %}>Gestion des utilisateurs</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasADMIN"{% if fauser.hasAdmin() %} checked{% endif %}>Administration du site</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasAPIR"{% if fauser.hasAPIread() %} checked{% endif %}>API: read</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_hasAPIW"{% if fauser.hasAPIwrite() %} checked{% endif %}>API: write/modify</label></div>
        </div>
        <hr>
        <div class="row form-group">
            <div class="col-sm-4"><b>Caracteristiques et acces:</b></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_isFA"{% if fauser.FAisFA %} checked{% endif %}>Famille d'accueil (= detient des chats)</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_isRF"{% if fauser.FAisRF %} checked{% endif %}>Responsable d'autres Familles d'accueil</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_isOV"{% if fauser.FAisOV %} checked{% endif %}>Superviseur (= vision de toutes les FA)</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_isADM"{% if fauser.FAisADM %} checked{% endif %} disabled>Administrateur/Gestion Registre</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_isVET"{% if fauser.FAisVET %} checked{% endif %}>Veterinaire</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="p_COMPTA"{% if fauser.PrivCOMPTA %} checked{% endif %}>Vue Comptabilité</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="p_COMPTAMOD"{% if fauser.PrivCOMPTAMOD %} checked{% endif %}>Accès Comptabilité</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="p_COMPTASELF"{% if fauser.PrivCOMPTASELF %} checked{% endif %}>Comptabilité: que ses factures</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_isAD"{% if fauser.FAisAD %} checked{% endif %} disabled>Special: chats adoptes</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_isREF"{% if fauser.FAisREF %} checked{% endif %} disabled>Special: refuge</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_isDCD"{% if fauser.FAisDCD %} checked{% endif %} disabled>Special: chats decedes</label></div>
            <div class="col-sm-4"><label class="checkbox-inline"><input class="form-check-input border border-dark" type="checkbox" name="u_isHIST"{% if fauser.FAisHIST %} checked{% endif %} disabled>Special: historique</label></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"><label class="checkbox-inline"><input type="checkbox" name="u_isTEMP"{% if fauser.FAisTEMP %} checked{% endif %} disabled>Special: FA temporaires</label></div>
        </div>
        <hr>
        <div class="row form-group">
            <div class="col-sm-2"><button class="btn btn-secondary mx-1" type="submit" name="action" {% if fauser.username %}value="adm_moduser"{% else %}value="adm_adduser"{% endif %}>Enregistrer</button></div>
            <div class="col-sm-2">{% if fauser.username %}<button class="btn btn-secondary mx-1" type="submit" name="action" value="adm_pwduser">Regenerer MDP</button>{% endif %}</div>
            <div class="col-sm-2"><button class="btn btn-secondary mx-1" type="submit" name="action" value="adm_listusers">Annuler</button></div>
        </div>

        {% endif %}
        {% include 'bottom.html' %}
    </div><!-- /.container -->
</body>
</html>
